<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<xi:include href="sidebars.html" />

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/index.css')}" />
    <title>Welcome to Vigilo</title>
</head>

<body>
<!--!    ${sidebar_top()}-->
  <div id="getting_started">
    <h1>Interfaces</h1>
    <ol id="interfaces">
      <li class="interface" py:if="tg.config.get('interfaces.vigiboard')">
        <h2><a target="${tg.config.get('links_target', '_self')}"
            href="${tg.url(tg.config['interfaces.vigiboard'])}">${"VigiBoard"}</a></h2>
        <p>See the latest events impacting the network.</p>
      </li>

      <li class="interface" py:if="tg.config.get('interfaces.vigimap')">
        <h2><a target="${tg.config.get('links_target', '_self')}"
            href="${tg.url(tg.config['interfaces.vigimap'])}">${"VigiMap"}</a></h2>
        <p>Watch over the state of your equipments from a map-oriented perspective.</p>
      </li>

      <li class="interface" py:if="tg.config.get('interfaces.vigigraph')">
        <h2><a target="${tg.config.get('links_target', '_self')}"
            href="${tg.url(tg.config['interfaces.vigigraph'])}">${"VigiGraph"}</a></h2>
        <p>Monitor network performance.</p>
      </li>

      <li class="interface" py:if="tg.config.get('interfaces.vigireport')">
        <h2><a target="${tg.config.get('links_target', '_self')}"
            href="${tg.url(tg.config['interfaces.vigireport'])}">${"VigiReport"}</a></h2>
        <p>See long-term reports on the network, using different sets of metrics.</p>
      </li>
    </ol>
  </div>
</body>
</html>
