<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/profile.css')}" />
    <title>Profile</title>
</head>

<body>
<div id="loginform">
<form action="${tg.url('/profile/change_pwd')}" method="post" class="loginfields">
    <h2><span>Change password</span></h2>

    <label for="old_password">Old password:</label>
    <input type="password" id="old_password" name="old_password" class="text"></input><br/>

    <label for="new_password">New password:</label>
    <input type="password" id="new_password" name="new_password" class="text"></input><br/>

    <label for="new_password2">Confirmation:</label>
    <input type="password" id="new_password2" name="new_password2" class="text"></input><br/>

    <input type="submit" id="submit" value="${l_('Apply')}" />
</form>
</div>
</body>
</html>
