#search_form {
    padding: 8px;
    font-size: 12px;
}

#search_form label,
#search_form input {
    float: left;
    margin: 4px;
    font-size: 12px;
    padding: 2px;
}

#search_form #search_form_host,
#search_form #search_form_graph {
    width: 130px;
}

#search_form #search_form_search {
    width: 93px;
    padding: 0;
}

#search_form > div {
    margin: 0 10px;
    clear: both;
}

#search_results {
    border: 1px solid #CCCCCC;
    display: block;
    height: 275px;
    position: relative;
    width: 540px;
}

#search_form > img {
    visibility: hidden;
    float: right;
    margin: 4px;
}
