/* Menu */
h1 {
    font-size: 110%;
    margin: 0 0.2em 0 -58px;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 0.1em 0.1em 0.2em #ccc;
}

h1 a,
h1 a:visited,
h1 a:hover,
h1 a:active
{
    text-decoration: none;
    color: black;
}
h1 a:hover {
    text-shadow: 0.1em 0.1em 0.2em #aaa;
}

#logo {
    margin: 0.3em 0.2em;
    float: left;
}

#header {
    border-bottom: 1px solid #a4a4a4;
    height: 24px;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0.1em 0;
    vertical-align: middle;
}

#header h1 {
    margin-top: 0.1em;
}

.header_item {
    float: right;
}

table.header_table {
    background-color: #F0F1F5;
    border-collapse:collapse;
    width: 100%;
}

table.header_table td, table.header_table th {
    padding: 2px;
    font-size: 12px;
    color: #314455;
}

table.header_table th {
    text-align: center;
    background-color: #F0F1F5;
}

table.header_table a {
    color: #a4a4a4;
    text-decoration: none;
}

table.header_table a:hover {
    color: #a4a4a4;
    text-decoration: underline;
}

/*Styles logo*/
table.header_table td.logo {

    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

img.logo {
    margin: 0px;
    border: 0px;
}


/* Flash */

#flash {
    opacity: 0;
}

#flash, .notice {
    font-size: 120%;
    font-weight: bolder;
    bottom: 0px;
    right: 0px;
    width: 100%;
    position: absolute;
    /* Pour les navigateurs un peu plus évolués. */
    position: fixed;
}
#flash div, .notice {
    padding: 8px 7px 6px 44px;
}

#flash .ok {
    background: #d8ecd8 url(../images/ok.png) no-repeat scroll 0px center;
}
#flash .warning {
    background: #fff483 url(../images/warning.png) no-repeat scroll 0px center;
}
#flash .error {
    background: #f9c5c1 url(../images/error.png) no-repeat scroll 0px center;
}
#flash .alert,
#flash .info,
.notice {
    background: #EEEEFF url(../images/info.png) no-repeat scroll 0px center;
}

.jxTree a, .jxTreeRoot a { overflow: visible; }
.jxFlyout { z-index: 1001; } /* au-dessus des jx.Dialog */

