label.required {
    color: red;
}

#map_form_background_color {
    width: 53%;
}

.jxAlphaLabel, .jxAlphaInput {
    display: none;
}

#deleteconfirmicon {
    float: left;
    margin-right: 16px;
}

#deleteconfirmtext {
    margin: 10px 10px
}

#deleteconfirmbuttons input {
    margin: 0.5em 20px 0 20px;
}

#deleteconfirmbutton1 {
    float: left;
}

#deleteconfirmbutton2 {
    float: right;
}

