body {
    margin: 0;
    padding: 0;
}

#header {
    border-bottom: 1px solid black;
    height: 40px;
}
h1 {
    font-size: 160%;
    margin: 0.2em 0.2em 0 0.2em;
    text-align: center;
    font-family: sans-serif;
    background: url("../images/vigilo.png") no-repeat left top;
}
ul {
    margin: 0.5em 0 0 2em;
    list-style-type: disc;
}

#leftmenu {
    float: left;
    width: 150px;
    height: 100%;
    margin: 0;
    border-right: 1px solid black;
    padding: 10px 0.2em 0px 0.2em;
}

#leftmenu h2 { margin-left: 0.8em; }

#leftmenu .mapgroup {
    margin: 0px auto;
    border: 1px solid #aaa;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
}
#leftmenu ul {
    list-style-type: none;
    margin-bottom: 0.5em;
}

#leftmenu ul.addmap {
	margin:0 auto;
    width: 40%;
}

#leftmenu li.addmap {
    margin:20px auto;
}

#leftmenu .obj {
    width: 70px;
    border: 1px solid black;
}


#leftmenu .addmap div {
	margin: 0px auto;
    border: 1px solid #aaa;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
}

#leftmenu .addmap div:hover {
    border: 2px solid #ffcc66;
    color: #ffcc66;
    cursor: pointer;
}

#leftmenu .selected {
    border: 2px solid blue !important;
    /*padding: 0px;*/
}


#menu {
    width: 100%;
}

#map {
    margin: 0px;
    padding: 0px;
    margin-left: 160px;
    height: 100%;
}


#map .obj {
    position: absolute;
}

.obj {
    display: block;
    margin: 5px auto 5px auto;
    border: 2px solid transparent;
    text-align: center;
    /*opacity: 0.5;*/
}
.obj.hover {
    border: 2px solid #ffcc66;
    color: #ffcc66;
    cursor: pointer;
}
.selected {
    border: 2px solid blue !important;
    /*padding: 0px;*/
}

.obj img.icon {
    margin: 0px auto;
}


.link {
    position: absolute;
    border: 2px solid transparent;
}
.link.hover {
    border: 2px solid #ffcc66;
    cursor: pointer;
}

.link-usage {
    position: absolute;
    border: 1px solid gray;
    background-color: white;
    font-size: 80%;
    padding: 0px 0.2em;
    display: none;
}


.status-critical {
    background-color: #FF0000;
    border: 1px solid #C80000;
}
.status-warning {
    background-color: #FFFF00;
    border: 1px solid #C8C800;
}
.status-ok {
    background-color: #73DE78;
    border: 1px solid #5DB460;
}
.status-unknown {
    background-color: #aaaaaa;
    border: 1px solid #555555;
}

.status-edit {
    background-color: #FFFFFF;
    border: 1px solid #555555;
}


#details {
    font-size: 80%;
}
#details .jxDialogLabel {
    font-size: 120%;
}
#details .jxDialogContent {
    padding: 0.5em;
}

#details p.status {
    padding: 0.5em 1em;
    text-align: center;
    margin: 0.5em 10% 1em 10%;
}

#details .jxDialogContent ul {
    margin: 1em 0 1em 2em;
}

#details ul.maps li a {
    vertical-align: middle;
    height: 16px;
    padding-left: 18px;
    background: url(../images/submap.png) no-repeat center left;
}


#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}



/* Without this the <canvas> element will fill the whole page. See jquery.canvas.js */
/*
canvas.cnvsCanvas {
    left: auto !important;
    top: auto !important;
    width: auto !important;
    height: auto !important;
}
*/
canvas {
    margin: 0;
    padding: 0;
}


#legend {
    border: 1px solid #aaa;
    background-color: #eee;
    padding: 0.5em;
    display: none;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    width: 10em;
    z-index: 99;
}

#legend h2 {
    text-align: center;
    margin-top: 0em;
    padding-bottom: 0.2em;
    margin-bottom: 0.4em;
    border-bottom: 1px solid #ccc;
}

#legend-elements, #legend-links {
    display: inline;
}

#legend h3 {
    font-weight: bold;
    margin-top: 0.5em;
}

#legend ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#legend li {
    display: inline;
    padding: 0.1em 0.3em;
    margin-right: 0.3em;
}

#legend dl {
}
#legend dl dt {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}

.saving {
    opacity: 0.7 !important;
    /*border: 2px dashed gray;*/
}

.fielderror {
    display: block;
    color: red;
}

/*
.jxChromeDrag {
    opacity: 1 !important;
    -ms-filter: none !important;
}
*/

/*
.spinner {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 999;
    background: #fff;
}
.spinner-msg {
    text-align: center;
    font-weight: bold;
}

.spinner-img {
    background: url(../images/loading.gif) no-repeat;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}

*/

#map_form > table, #mapnode_form > table, #map_link > table {
    margin-left: 20px	
}

table {
    margin-top: 20px; 
}

table tr td {
	padding-top: 3px;
    padding-right: 20px;
}

#deleteconfirmtext {
    margin: 10px 10px	
}

#deleteconfirmbuttons {
	margin: 20px 20px
}

#deleteconfirmbutton1 {
    margin: 0 10px
}

#deleteconfirmbutton2 {
    margin: 0 5px
}

input[type=submit] {
    margin-top: 15px
}