#header {
    border-bottom: 1px solid #a4a4a4;
    height: 24px;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0.1em 0;
    position: relative;
    width: 100%;
}

#header a {
    text-decoration: none;
}

#header a img {
    display: block;
}

.header_icons {
    float: right;
}

.header_icon {
    float: left;
}

#home {
    float: left;
}

h1 {
    font-size: 110%;
    margin: 0 0.2em 0 -58px;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 0.1em 0.1em 0.2em #ccc;
}

ul {
    margin: 0.5em 0 0 2em;
    list-style-type: disc;
}


/* Affichage general */

h1 a,
h1 a:visited,
h1 a:hover,
h1 a:active
{
    text-decoration: none;
    color: black;
}
h1 a:hover {
    text-shadow: 0.1em 0.1em 0.2em #aaa;
}

#menu {
    width: 100%;
    display: block;
}

#map {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/* Placement automatique. */
#automap {
    position: absolute;
    left: 0px;
}

#automap .obj {
    float: left;
    margin: 1em;
}

#loading {
    display: none;
    position: absolute;
    top: 60px;
    right: 5px;
    background-color: white;
    padding: 2px;
    border: 1px solid gray;
}
#loading img {
    display: block;
}

#mapitems {
    width: 70px;
    left: -100px;
}

#mapitems ul {
    list-style-type: none;
	margin:0 auto;
}

#mapitems .mapitem {
	margin: 15px auto;
    padding: 2px 0; /* Doit être 1 de plus que :hover pour que le changement de taille de la bordure ne décale pas tout */
    border: 1px solid #aaa;
    background-color: #eee;
    text-align: center;
    cursor: pointer;
    width: 40px;
}
#mapitems .mapitem:hover {
    padding: 1px 0; /* Permet de passer la bordure à 2px sans tout décaler */
    border: 2px solid #ffcc66;
    color: #ffcc66;
    cursor: pointer;
}

#mapitems .selected {
    padding: 1px 0; /* Permet de passer la bordure à 2px sans tout décaler */
    border: 2px solid blue !important;
}
#mapitems .mapitem.selected:hover {
    color: inherit;
    cursor: default;
}

#mapitems .disabled {
    opacity: 0.2;
}

#mapitems .disabled:hover {
    border: 1px solid #aaa;
    color: inherit;
    cursor: default;
}

#mapitems .mapitem img {
    margin: 0 auto;
    display: block;
}


/* Elements de carte */
.obj .status {
    /*  Nécessaire pour IE 7. La feuille "non-ie7.css"
        remplace cette valeur pour les autres navigateurs,
        y compris pour IE 8 qui ne présente plus le bug. */
    margin: 0;
    padding: 0px 1em;
}

.obj {
    position: absolute;
    display: block;
    margin: auto;
    border: 2px solid transparent;
    text-align: center;
    padding: 3px 0;
}
.obj:hover {
    border: 2px solid #ffcc66;
    color: #ffcc66;
    cursor: pointer;
}

.selected {
    border: 2px solid blue !important;
}

.obj img.icon {
    margin: 0px auto;
    display: inline;
}

.obj span {
    font-size: 80%;
    font-family: sans-serif;
    padding: 2px;
    border: 1px solid black;
    background-color: white;
    margin: 2px auto;
    white-space: nowrap;
}



/* Liens */
.link {
    position: absolute;
    border: 2px solid transparent;
}
.link:hover {
    border: 2px solid #ffcc66;
    cursor: pointer;
}

.link-usage {
    position: absolute;
    border: 1px solid gray;
    /* http://css-tricks.com/ie-background-rgb-bug/ */
    background: white;
    background: rgba(255,255,255,0.6);
    font-size: 70%;
    padding: 0px 0.2em;
    display: none;
}


/* Etats */

.status {
    margin: 0 auto;
}
.status-critical,
.status-down {
    background-color: #F88;
    border: 1px solid #C80000;
}
.status-warning {
    background-color: #FF0;
    border: 1px solid #C8C800;
}
.status-ok,
.status-up {
    background-color: #73DE78;
    border: 1px solid #5DB460;
}
.status-unknown,
.status-unreachable {
    background-color: #DDD;
    border: 1px solid #555;
}

.status-edit {
    background-color: #FFF;
    border: 1px solid #555;
}

.status-icon {
    background-position: left center;
    background-repeat: no-repeat;
    padding: 4px 0 4px 22px;
}

.status-icon-critical,
.status-icon-down {
    background-image: url(../images/CRITICAL2.png);
}
.status-icon-warning {
    background-image: url(../images/WARNING2.png);
}
.status-icon-ok,
.status-icon-up {
    background-image: url(../images/OK2.png);
}
.status-icon-unknown,
.status-icon-unreachable {
    background-image: url(../images/UNKNOWN2.png);
}

/* Panneau de details */

/* Target IE9,10,11 to solve a scrollbar size problem inside Dialog popup */
@media screen and (min-width:0\0) {
    .jxDialogContentContainer {
        padding-right: 13px;
        padding-bottom: 15px;
    }
}

#details {
    font-size: 80%;
}
#details .jxDialogLabel {
    font-size: 120%;
}
#details .jxDialogContent {
    padding: 0.5em;
}

#details p.status {
    padding: 0.5em 1em;
    text-align: center;
    margin: 0.5em 10% 1em 10%;
}

#details .jxDialogContent ul {
    padding: 1em 2em;
    margin: 0;
}
#details .jxDialogContent ul li {
    padding: 0.3em 0;
}

#details .jxDialogContent ul li.dependency {
    padding: 0.3em 0.5em;
}

#details h2 {
    text-align: center;
    border-top: 1px solid black;
    margin-top: 0.5em;
    padding-top: 0.2em;
    font-family: sans-serif;
}

#details p span.label {
    font-weight: bold;
}

#details ul.section {
    list-style-type: none;
    padding-top: 0.3em;
}
#details ul.section li a {
    height: 16px;
    padding-left: 20px;
    color: black;
    text-decoration: none;
}
#details ul.section li a:hover {
    text-decoration: underline;
}

#details ul.maps li a {
    background: url(../images/map.png) no-repeat center left;
}

#details ul.links li a {
    background: url(../images/external-link.png) no-repeat center left;
}



/* Without this the <canvas> element will fill the whole page. See jquery.canvas.js */
/*
canvas.cnvsCanvas {
    left: auto !important;
    top: auto !important;
    width: auto !important;
    height: auto !important;
}
*/
canvas {
    margin: 0;
    padding: 0;
}


#legend {
    border: 1px solid #aaa;
    background-color: #eee;
    padding: 0.5em;
    display: none;
    position: fixed;
    bottom: 0.5em;
    right: 0.5em;
    width: 12em;
    z-index: 99;
}

#legend h2 {
    text-align: center;
    margin-top: 0em;
    padding-bottom: 0.2em;
    margin-bottom: 0.4em;
    border-bottom: 1px solid #ccc;
}

#legend-elements, #legend-links {
    display: inline;
}

#legend h3 {
    font-weight: bold;
    margin-top: 0.5em;
    font-size: 95%;
}

#legend ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#legend li {
    display: inline;
    padding: 0.1em 0.3em;
    margin-right: 0.3em;
}

#legend dl {
    font-size: 90%;
    padding: 0.2em 0;
}

#legend dl dt span {
    display: block;
    float: left;
    width: 1.5em;
    margin-right: 0.5em;
    height: 22px;
    clear: left;
}

#legend dl dt span + span {
    height: auto;
    text-align: center;
    clear: none;
    background-repeat: no-repeat;
}
#legend dl dd {
    height: 24px;
}

#legend dl > dd > span {
    float: right;
    font-weight: bold;
}

/*
 * Mode édition
 */

.jxDialogContent label {
    font-family: sans-serif;
}

.saving {
    padding: 1px;
    background-color: #eee !important;
    border: 1px dashed gray !important;
}

.fielderror {
    display: block;
    color: red;
}

/*
.jxChromeDrag {
    opacity: 1 !important;
    -ms-filter: none !important;
}
*/

/*
.spinner {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 999;
    background: #fff;
}
.spinner-msg {
    text-align: center;
    font-weight: bold;
}

.spinner-img {
    background: url(../images/loading.gif) no-repeat;
    width: 24px;
    height: 24px;
    margin: 0 auto;
}

*/

#map_form table,
#mapnode_form table,
#copymap_form table {
    margin: 1em auto 0 auto;
}

/*
table {
    margin-top: 20px;
}
*/

table tr td {
    padding-top: 3px;
}
table tr td.labelcol {
    padding-right: 1em;
}

input[type=submit] {
    margin-top: 15px;
}

/* Flash */

#flash {
    opacity: 0;
    z-index: 100;
}

#flash, .notice {
    font-size: 120%;
    font-weight: bolder;
    bottom: 0px;
    right: 0px;
    width: 100%;
    position: absolute;
    /* Pour les navigateurs un peu plus évolués. */
    position: fixed;
}
#flash div, .notice {
    padding: 8px 7px 6px 44px;
}

#flash .ok {
    background: #d8ecd8 url(../images/ok.png) no-repeat scroll 0px center;
}
#flash .warning {
    background: #fff483 url(../images/warning.png) no-repeat scroll 0px center;
}
#flash .error {
    background: #f9c5c1 url(../images/error.png) no-repeat scroll 0px center;
}
#flash .alert,
#flash .info,
.notice {
    background: #EEEEFF url(../images/info.png) no-repeat scroll 0px center;
}
