#map .serviceelement div.tags {
    text-align: left;
}
#map .serviceelement div.tags img {
    margin: 0 1px;
}

#map .serviceelement img.icon {
    display: inline;
}
#map .serviceelement div.status img.icon {
    opacity: 0.8;
}

.display .obj.serviceelement span {
    padding-left: 26px;
    background-position: 4px;
}

.edit .obj.serviceelement span {
    padding: 2px 14px;
}

#details ul.tags {
    list-style-type: none;
    margin-left: 0.7em;
}
#details ul.tags li {
    height: 20px;
}
#details ul.tags li img {
    vertical-align: middle;
}

#mapnode_form_label,
#mapnode_form_host_word,
#mapnode_form_service_word,
#mapnode_form_graph_word {
    width: 230px;
}


/*  
 *  Formulaire d'édition des propriétés des liens
*/

#link_form {
    font-family: sans-serif;
}

#link_form fieldset {
    width: 350px;
    margin-top: 10px;
    margin-left: 15px;
    padding: 15px;
    border: 1px solid grey;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
}

/* Corrige un problème de marge sur IE */
#link_form fieldset#link_form\:choice {
    display: block;
}

#link_form legend {
    color: black;
}

#link_form.hlslinkform fieldset#link_form\:fieldsethlslink,
#link_form fieldset#link_form\:fieldsetllslink,
#link_form.segmentform fieldset#link_form\:fieldsetsegment {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* Les descriptions sont uniquement affichées lors des créations de lien */
#link_form.hlslinkform span,
#link_form.llslinkform span,
#link_form.segmentform span {
    display: none;
}

#link_form fieldset ul {
    margin-left: 0;
}

#link_form fieldset li {
    list-style-type : none;
    margin-left: 10px;
}

#link_form fieldset div.fielddescription {
    color: grey;
    font-style: italic;
    font-size: 90%;
    margin-bottom: 10px;
}

#link_form fieldset div.form_row{
    clear: both;
}

#link_form fieldset div.form_row + div.form_row {
    margin-top: 2px;
}

#link_form fieldset div.label,
#link_form fieldset div.field,
#link_form fieldset ul.radiobuttonlist {
    font-size: 90%;
}

#link_form fieldset div.label {
    float: left;
    width: 150px;
}

#link_form fieldset div.field {
    margin-left: 160px;
}

#link_form div.formlegend {
    margin-left: 20px;
    margin-top: 10px;
    color: grey;
    font-style: italic;
    font-size: 90%;
}

#link_form input[type="submit"] {
    float: right;
    margin: 0px 40px 10px;
    padding: 2px 5px;
}

