.image_widget ul {
	list-style-type: none;
    margin: 10px;
    padding: 0;
}

.image_widget li {
    display: block;
    float: left;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

.image_widget li a.noimage {
    display: block;
    font-size: 80%;
    padding-top: 3px;
    width: 48px;
    padding-top: 5px;
    height: 43px; /* 48 - 5 (padding) */
    text-decoration: none;
    color: black;
}
.image_widget li a.noimage:hover {
    text-decoration: none;
}

.image_widget li:hover {
    background-color: #bbb;
    cursor: pointer;
}

.image_widget img {
    vertical-align: middle;
    display: block;
    margin: 0px auto;
    width: 48px;
    height: 48px;
}

