.imagepicker-popup ul {
	list-style-type: none;
    margin: 10px;
    padding: 0;
}

.imagepicker-popup li {
    display: block;
    float: left;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

.imagepicker-popup li a.noimage {
    display: block;
    font-size: 80%;
    padding-top: 3px;
    width: 48px;
    padding-top: 5px;
    height: 43px; /* 48 - 5 (padding) */
    text-decoration: none;
    color: black;
}
.imagepicker-popup li a.noimage:hover {
    text-decoration: none;
}

.imagepicker-popup li:hover {
    background-color: #bbb;
    cursor: pointer;
}

.imagepicker-popup img {
    vertical-align: middle;
    display: block;
    margin: 0px auto;
    width: 48px;
    height: 48px;
}

.imagepicker img {
    border: 1px solid black;
    display: block;
    width: 48px;
    height: 48px;
}
.imagepicker img:hover {
    border: 1px solid #ffcc66;
}
.imagepicker a {
    color: black;
    font-size: 90%;
    text-decoration: none;
}
.imagepicker a:hover {
    color: #ffcc66;
    text-decoration: underline;
}
