recursive-include src/vigilo/themes/i18n *
recursive-include src/vigilo/themes/public *
recursive-include src/vigilo/themes/templates *
include buildenv/Makefile.common
include buildenv/buildout.*.cfg
include buildout.cfg
include Makefile
include COPYING.txt

graft doc
graft pkg

include jsl.cfg
include babeljs.py
