<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<xi:include href="sidebars.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Welcome to Vigilo</title>
</head>

<body>
    ${sidebar_top()}
  <div id="getting_started">
    <h1>Presentation</h1>
    <p>Vigilo is a software meant to ease large-scale system and network management.</p>
    <ol id="key_features">
      <li class="key_feature">
        <h2>Data collection</h2>
        <p> @TODO</p>
      </li>

      <li class="key_feature">
        <h2>Event correlation</h2>
        <p> @TODO</p>
      </li>

      <li class="key_feature">
        <h2>Accidents visualization</h2>
        <p> @TODO</p>
      </li>

      <li class="key_feature">
        <h2>Report generation</h2>
        <p> @TODO</p>
      </li>
    </ol>
  </div>
  <div class="clearingdiv" />
  <div class="notice">Thank you for choosing Vigilo.</div>
</body>
</html>
