<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<?python import urllib2 ?>
<xi:include href="main_simplified.html" />

    <head>
        <title>${_('List of graphs for "%s"') % host}</title>
    </head>

    <body class='main'>
        <h2>${_('List of graphs for "%s"') % host}</h2>
        <p class="menu">
        [<a href="${tg.url('/nagios/%s/cgi-bin/status.cgi' %
                urllib2.quote(host.encode('utf-8'), ''), {
            'host': host,
        })}">${_('Monitoring page for "%s"') % host}</a>]
        <py:for each="h in presets">
            [<a href="${tg.url('/rpc/fullHostPage', {
                'host': host,
                'duration': h['duration'],
            })}">${h['caption']}</a>]
        </py:for>
        </p>
        <div class="graphs">
            <!--!
                On construit un lien qui va permettre de charger
                automatiquement ce graphe dans VigiGraph.
                Pour cela, on crée d'abord l'URL normale avec tg.url(),
                puis on supprime le chemin d'accès jusqu'à la page.
                On change au passage l'encodage des espaces ('+' -> '%20')
                puisque les paramètres de graphe sont dans le fragment
                et pas dans le chemin de l'URL.
                Ensuite, on fait de nouveau appel à tg.url() pour encoder
                correctement l'URL de nouveau (on ne peut pas utiliser
                urllib ici) et on supprime de nouveau le préfixe,
                en tenant compte du paramètre "g" ajouté pour les besoins
                de tg.url().
                Enfin, on injecte l'URL sans modification dans le code
                du lien HTML qu'on veut afficher.
            -->
            <py:for each="graph in sorted(graphs, key=lambda x: x.name.lower())"
                py:with="prefix = len(tg.url('/'))+1; graph_url = tg.url('/', {
                    'g': tg.url('/', {
                        'host': host,
                        'graph': graph.name,
                        'start': start,
                        'duration': duration,
                        'top': 0,
                        'left': 0,
                    })[prefix:].replace('+', '%20')
                })[prefix+2:]">
            <a href="${tg.url('/#graphs=%s&amp;safety=1' % graph_url)}">
            <img alt="${_('Graph \'%(graph)s\' on \'%(host)s\'') % {
                    'host': host,
                    'graph': graph.name,
                }}" src="${tg.url('/vigirrd/%s/index' %
                    urllib2.quote(host.encode('utf-8'), ''), {
                'host': host,
                'graphtemplate': graph.name,
                'start': start,
                'duration': duration,
                'direct': 1,
                'details': 0,
            })}"/></a>
            </py:for>
        </div>
    </body>
</html>
