<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

    <head>
        <title>Graph Page for ${host}</title>
    </head>
    <body class='main'>
        <h2>Graph Page for ${host}</h2>
        <a href="supPage?host=${host}">${host}'s monitoring page</a>
        <div py:for="h in presets" py:strip="True">
            <a href="fullHostPage?host=${host};duration=${h['duration']}">${h['caption']}</a>
        </div>
        <br />
        <div py:for="i in dhgs" py:strip="True">
            <a href="singleGraph?host=${dhgs[i][0]};graph=${dhgs[i][1]};start=${start};duration=${duration}">
            <img border="0" src="getImage_png?host=${dhgs[i][0]};graph=${dhgs[i][1]};start=${start};duration=${duration};details=1" title='${dhgs[i][0]}'/>
            </a>
        </div>
    </body>
</html>
