<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <head>
        <title>${l_('List of graphs for "%s"') % host}</title>
    </head>

    <body class='main'>
        <h2>${l_('List of graphs for "%s"') % host}</h2>
        <a href="${tg.url('/nagios/%s/cgi-bin/status.cgi?host=%s' % (host, host))}">${l_('Monitoring page for "%s"') % host}</a>
        <div py:for="h in presets" py:strip="True">
            <a href="fullHostPage?host=${host};duration=${h['duration']}">${h['caption']}</a>
        </div>
        <br />
        <div py:for="graph in graphs" py:strip="True">
            <a href="singleGraph?host=${host};graph=${graph.name};start=${start};duration=${duration}">
            <img src="${tg.url('/rrdgraph/%(host)s/rrdgraph.py?graphtemplate=%(graph)s&amp;start=%(start)d&amp;duration=%(duration)d&amp;direct=1&amp;details=0&amp;host=%(host)s' % {
                'host': host,
                'graph': graph.name,
                'start': start,
                'duration': duration,
            })}"/>
            </a>
        </div>
    </body>
</html>
