<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>VigiGraph</title>
    <link rel="search" type="application/opensearchdescription+xml"
        title="VigiGraph search" href="${tg.url('/rpc/getOpenSearch')}"/>
</head>

<?python import urllib2 ?>
<body>
<div>
    <ul class="graphslist">
        <h1>VigiGraph</h1>
        <li py:for="graph in graphslist">
            <h2>${l_('Graph "%(graph)s" for host "%(host)s"') % {
                'graph': graph['graph'],
                'host': graph['host'],
            }}</h2>

            <p>${l_("From %(start_date)s to %(end_date)s") % {
                'start_date': graph['start_date'],
                'end_date': graph['end_date'],
            }}</p>
            <img src="${tg.url('/vigirrd/%s/graph.png' %
                urllib2.quote(graph['host'].encode('utf-8'), ''), {
                host=graph['host'],
                graphtemplate=graph['graph'],
                start=graph['start'],
                duration=graph['duration'],
                nocache=graph['nocache'],
            })}" border="0" alt=""></img>
        </li>
    </ul>
</div>
</body>
</html>
