<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="sidebars.html" />
<xi:include href="master.html" />

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
    <title>Loading VigiGraph...</title>
    <script type="text/javascript" src="js/vigigraph.js"></script>
    <link rel="search" type="application/opensearchdescription+xml" title="Vigigraph search" href="/rpc/getOpenSearch"></link>
    <style type="text/css"><!--@import url(css/style.css); --></style>
  </head>
  <body>
      <div class="header"><style type="text/css"><!--@import url(css/tmpl.default.css); --></style>
      <table class="header_table">
          <tr>
              <td class="logo">
                  <a href="/">
                      <img class="logo" src="${tg.url('/images/vigilo.png')}" alt="Vigilo"/>
                  </a> v2.0
              </td>
          </tr>
      </table>
      </div>
  </body>
</html>
