<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<head py:match="head" py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="version" content="${tg.config.get('version')}" />

    <title py:replace="''">Your title goes here</title>
    <meta py:replace="select('*')"/>
    <link rel="search" type="application/opensearchdescription+xml"
        title="Vigigraph search" href="${tg.url('/rpc/getOpenSearch')}"/>
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/jxlib/jxtheme.uncompressed.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/Autocompleter/Autocompleter.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/reset.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/vigigraph.css')}" />

    <script type="text/javascript">
        var app_path = "${tg.url('/').encode('backslash')}";
        Jx.baseURL = '${tg.url("/js/lib")}';
    </script>
    <script type="text/javascript" src="${tg.url('/js/libs/mootools.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/libs/mootools-more.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/libs/jxlib.js')}"></script>

    <!--!
        "js/libs/babel.js" et "js/babelThemes.js" doivent être chargés
        avant "i18n", qui doit être chargé avant nos scripts.
    -->
    <script type="text/javascript" src="${tg.url('/js/libs/babel.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/babelThemes.js')}"></script>
    <script type="text/javascript" src="${tg.url('/i18n')}"></script>

    <script type="text/javascript" src="${tg.url('/js/grouptree.js')}"></script>

    <script type="text/javascript" src="${tg.url('/js/search.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/print.js')}"></script>
</head>

<body py:match="body" py:attrs="select('@*')">
    <div id="header">
        <span id="logo">
            <a href="${tg.url(tg.config.get('logo_link', '/'))}">
                <img alt="" src="${tg.url('/images/vigilo.png')}"/>
            </a>
        </span>

        <div class="header_item">
            <a id="search" href="?">
                <img src="${tg.url('/images/search.png')}"
                    alt="Search" title="Search for a specific host/graph" />
            </a>

            <a id="print" href="?">
                <img src="${tg.url('/images/document-print.png')}"
                    alt="Print all" title="Print all visible graphs" />
            </a>

            <py:if test="tg.config.get('help_link')">
            <a href="${tg.config['help_link']}">
                <img src="${tg.url('/images/help.png')}" alt="Help" title="Help"/>
            </a>
            </py:if>

            <!--! On masque le bouton de login/logout si une authentification externe est utilisée. -->
            <span py:if="tg.auth_stack_enabled and not asbool(tg.config.get('external_auth'))" py:strip="True">
            <a href="${tg.url('/logout_handler')}">
                <img src="${tg.url('/images/logout.png')}" alt="Log out" title="Log out"/>
            </a>
            </span>
        </div>

        <h1><a href="${tg.url('/')}">VigiGraph</a></h1>
    </div>

    <div id="content">
        <div py:replace="select('*|text()')"/>
    </div>

    <!--! Container utilisé par le formulaire de recherche. -->
    <div style="display: none">
        <div id="search_container">
            <form id="search_form" action="" method="post">
                <label for="search_form_host">Host:</label>
                <input type="text" id="search_form_host" name="search_form_host"
                    title="Search for a host (&quot;*&quot; for all, 100 max)" />
                <label for="search_form_graph">Graph:</label>
                <input type="text" id="search_form_graph" name="search_form_graph"
                    title="Search for a graph (&quot;*&quot; for all, 100 max)" />
                <input type="submit" id="search_form_search" value="${l_('Search')}" />
                <div>Results:</div>
                <div id="search_results"></div>
            </form>
        </div>
    </div>

    <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
        <div py:strip="True" py:if="flash" py:content="XML(flash)" />
    </py:with>

<script type="text/javascript">
/*<![CDATA[*/
    window.addEvent('load', function (){
        var flash = $('flash');
        if (flash) {
            flash.fade('in').pauseFx(10000).fade('out');
        }
    });
/*]]>*/
</script>

</body>
</html>
