<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<head py:match="head" py:attrs="select('@*')">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta name="version" content="${tg.config.get('version')}" />

    <title py:replace="''">Your title goes here</title>
    <meta py:replace="select('*')"/>
    <link rel="search" type="application/opensearchdescription+xml"
        title="Vigigraph search" href="${tg.url('/rpc/getOpenSearch')}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/reset.css')}" />
    <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/css/vigigraph.css')}" />

    <script type="text/javascript">var app_path = "${tg.url('/').encode('backslash')}";</script>
</head>

<body py:match="body" py:attrs="select('@*')">
    <!--!
        Pensez également à mettre à jour main.html
        si vous changez l'en-tête.
    -->
    <div id="header">
        <span id="logo">
            <a href="${tg.url(tg.config.get('logo_link', '/'))}">
                <img alt="" src="${tg.url('/images/vigilo.png')}"/>
            </a>
        </span>

        <div class="header_icons">

            <div class="header_icon">
                <py:if test="tg.config.get('help_link')">
                <a href="${tg.config['help_link']}">
                    <img src="${tg.url('/images/help.png')}" alt="Help" title="Help"/>
                </a>
                </py:if>
            </div>

            <!--! On masque le bouton de login/logout si une authentification externe est utilisée. -->
            <div py:if="tg.auth_stack_enabled and not asbool(tg.config.get('external_auth'))" class="header_icon">
                <a href="${tg.url('/logout_handler')}">
                    <img src="${tg.url('/images/logout.png')}" alt="Log out" title="Log out"/>
                </a>
            </div>
        </div>

        <h1><a href="${tg.url('/')}">VigiGraph</a></h1>
    </div>

    <div id="content">
        <div py:replace="select('*|text()')"/>
    </div>

    <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
        <div py:strip="True" py:if="flash" py:content="XML(flash)" />
    </py:with>

</body>
</html>
