<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="main.html" />
    <head>
        <title>Vigigraph search</title>
    </head>
    <body class="searchresults">
        <h1>Vigigraph search</h1>
        <h2>Results:</h2>
        <table>
            <tr py:for="h in hosts">
                <td class="hostname">&mdash; ${h}</td>
                <td><a href="supPage?host=${h}">Sup page</a></td>
                <td> - </td>
                <td><a href="metroPage?host=${h}">Metro page</a></td>
            </tr>
        </table>
    </body>
</html>
