<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?python import urllib2 ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="master.html" />
    <head>
        <title>VigiGraph search</title>
    </head>

    <body class="searchresults">
        <h1>VigiGraph search</h1>
        <h2>Results:</h2>
        <table>
            <tr py:for="host in hosts">
                <td class="hostname">&#x2014; ${host}</td>
                <td><a href="${tg.url('/nagios/%s/cgi-bin/status.cgi' %
                                urllib2.quote(host.encode('utf-8'), ''), {
                        'host_': host,
                        'style': 'detail',
                        'supNav': 1,
                    })}">Sup page</a></td>
                <td> - </td>
                <td><a href="${tg.url('/rpc/fullHostPage', { 'host_': host })}">Metro page</a></td>
            </tr>
        </table>
        ${tmpl_context.paginators.hosts.pager()}
    </body>
</html>
