<!--!
    Ce fichier continent des définitions de variables qui seront ré-utilisées
    dans le template main.html
-->

<html xmlns:py="http://genshi.edgewall.org/"
      py:strip="">


<!--! En-têtes -->
<link py:def="search_css" py:strip="True"/>
<script py:def="search_js" py:strip="True"></script>


<!--! Bouton de recherche dans le bandeau -->
<a py:def="search_button" py:strip="True" />


<!--! Container utilisé par le formulaire de recherche -->
<div py:def="search_form" py:strip="True" />

</html>
