<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="fr">
    <xi:include href="main.html" />
<head>
    <title>VigiMap</title>

    <script type="text/javascript" src="${tg.url('/js/drag.move.ghost.js')}"></script>

    <link rel="stylesheet" type="text/css" href="${tg.url('/css/Autocompleter.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/edition.css')}" />
    <script type="text/javascript" src="${tg.url('/js/lib/Autocompleter.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/lib/Autocompleter.Local.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/lib/Autocompleter.Request.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/Autocompleter.Request.VigiloJSON.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/lib/Observer.js')}"></script>

    <script type="text/javascript" src="${tg.url('/js/selectmapgroup.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/fieldautocomplete.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/buttonColor.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/tg_submit.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/delete.js')}"></script>

    <style type="text/css">@import "${tg.url('css/widget_images.css')}";</style>
    <script type="text/javascript" src="${tg.url('/js/widget_images.js')}"></script>
    <!--[if !(IE 7)]><!--><style type="text/css">@import "${tg.url('css/non-ie7.css')}";</style><!--><![endif]-->
</head>

<body class="edit">
    ${map()}

    <!--! L'apppel des deux fonctions suivantes (empty...) provoque l'injection dans la page html,
         des scripts javascript nécessaires à l'utilisation des toscawidgets dynforms dans une
         boîte de dialogue, elles n'ont en revanche aucune influence au niveau de l'apparence de
         la page HTML. -->
    ${empty_dynform()}
    ${empty_calendar()}
</body>
</html>
