<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VigiMap</title>
    <!--[if IE]><script type="text/javascript" src="${tg.url('/js/excanvas.js')}"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/jxlib/jxtheme.uncompressed.css')}" />
    <style type="text/css">@import "${tg.url('css/map.css')}";</style>
    <script type="text/javascript" src="${tg.url('/js/mootools.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/mootools-more.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/drag.move.ghost.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/jxlib.js')}"></script>
    <script type="text/javascript">Jx.baseURL = 'js';</script>
    <!--!
        "js/babel.js" doit être chargé avant "i18n",
        qui doit lui-même être chargé avant "js/map.js".
    -->
    <script type="text/javascript" src="${tg.url('/js/babel.js')}"></script>
    <script type="text/javascript" src="${tg.url('/i18n')}"></script>
    <script type="text/javascript" src="${tg.url('/js/loader.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/legend.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/details.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/delete.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/map.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/mapElement.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/delete.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/menu.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/MainEdit.js')}"></script>    
        <div py:for="widget in widgets" py:strip="True">
        <script type="text/javascript" src="${tg.url('/widgets/'+widget+'/'+widget+'.js')}"></script>
        <link rel="stylesheet" type="text/css" href="${tg.url('/widgets/'+widget+'/'+widget+'.css')}" />
    </div>
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/Autocompleter.css')}" />
    <script type="text/javascript" src="${tg.url('/js/Autocompleter.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/Autocompleter.Local.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/Autocompleter.Request.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/Autocompleter.Request.VigiloJSON.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/Observer.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/selectmapgroup.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/fieldautocomplete.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/buttonColor.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/tg_submit.js')}"></script>
    <!--! Les lignes suivantes sont générées automatiquement par les fonctions empty-dynform et emptu-calendar
    <script type="text/javascript" src="/toscawidgets/resources/tw.dynforms.widgets/static/dynforms.js"></script>
    <script type="text/javascript" src="/toscawidgets/resources/tw.forms/static/calendar/calendar.js"></script>
    <script type="text/javascript" src="/toscawidgets/resources/tw.forms/static/calendar/calendar-setup.js"></script>
    <script type="text/javascript" src="/toscawidgets/resources/tw.forms/static/calendar/lang/calendar-fr.js"></script>
    -->
    
</head>
<body>


    <div id="header">
        <h1>VigiMap ${l_("(edit mode)")}<span id="maptitle"></span></h1>
    </div>

    <div id="menu">
    </div>

    <div id="leftmenu">
        <h2>Maps</h2>
        <ul>
        </ul>
    </div>

    <div id="map">
        <canvas>
            Your browser does not support the canvas element. Please upgrade.
        </canvas>

        <div id="legend">
        </div>
    </div>


    <!--
    <div id="details" title="essai">
        <p>Services&nbsp;:</p>
        <ul></ul>
    </div>
    -->

    <div id="loading">
        <img alt="loading..." src="${tg.url('images/loading.gif')}" />
    </div>
    <!--! L'apppel des deux fonctions suivantes (empty...) provoque l'injection dans la page html,
            des scripts javascript nécessaires à l'utilisation des toscawidgets dynforms dans une
            boîte de dialogue, elles n'ont en revanche aucune influence au niveau de
            l'apparence de la page html-->
    ${empty_dynform()}
    ${empty_calendar()}
    

</body>
</html>
