<div xmlns:py="http://genshi.edgewall.org/">
  <body>
    <p class="status ok">Tous les services sont ${status}</p>
    <ul class="tags">
      <li py:for="tag_a in result_t">
        <img src="img/${tag_a}.png" alt="${l_(result_t[tag_a])}" /> ${result_t[tag_a]}
      </li>
    </ul>
    <ul class="links">
      <li py:for="link_a in result_l">
        <a href="${result_l[link_a]}" > ${link_a} </a>
      </li>
    </ul>
    <ul class="maps">
      <li py:for="map_a in result_m">
        <a href="?map=${result_m.name}" > ${result_m.title}</a>
      </li>
    </ul>
    <p>Nom d'equipement&nbsp;: ${host}</p>
  </body>
</div>
