<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="fr">
    <xi:include href="main.html" />
<head>
    <title>VigiMap</title>
    <!--[if !(IE 7)]><!--><style type="text/css">@import "${tg.url('css/non-ie7.css')}";</style><!--><![endif]-->
    <script type="text/javascript">
    window.addEvent('load', function () {
        menu.refresh_button.setActive(${int(asbool(tg.config.get('refresh_enabled', False)))});
    });
    </script>
</head>
<body class="display">
    <div id="leftmenu">
        <ul>
        </ul>
    </div>

    ${map()}

</body>
</html>
