<div xmlns:py="http://genshi.edgewall.org/">
    <h2>${l_("Legend")}</h2>
    <div id="legend-elements">
        <!--!
            Le span sera complété avec le nombre total
            d'éléments (entre parenthèses).
        -->
        <h3>${l_("Elements")} <span></span></h3>
        <dl>
            <dt class="status-unknown">?</dt>
                <dd>${l_("Unknown")}</dd>
            <dt class="status-ok">?</dt>
                <dd>${l_("OK")}</dd>
            <dt class="status-warning">?</dt>
                <dd>${l_("Warning")}</dd>
            <dt class="status-critical">?</dt>
                <dd>${l_("Critical")}</dd>
        </dl>
    </div>
    <div id="legend-links" py:if="has_link">
        <!--!
            Le span sera complété avec le nombre total
            d'éléments (entre parenthèses).
        -->
        <h3>${l_("Links")} <span></span></h3>
        <dl>
            <div py:for="i, link in enumerate(links)" py:strip="True">
                <div py:choose="" py:strip="True">
                    <p py:when="i == 0" py:strip="True">
                      <dt style="background-color: ${link.f}; border: 1px solid ${link.s}">?</dt>
                        <dd>${link.t_min}</dd>
                    </p>
                    <p py:when="i == len(links) - 1" py:strip="True">
                      <dt style="background-color: ${link.f}; border: 1px solid ${link.s}">?</dt>
                        <dd>&#8805; ${link.t_min}</dd>
                    </p>
                    <p py:otherwise="" py:strip="True">
                      <dt style="background-color: ${link.f}; border: 1px solid ${link.s}">?</dt>
                        <dd>${link.t_min} &#8594; ${link.t_max}</dd>
                    </p>
                </div>
            </div>
        </dl>
    </div>
</div>


