<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<head py:match="head" py:attrs="select('@*')">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="version" content="${tg.config.get('version')}" />

    <style type="text/css">@import "${tg.url('css/reset.css')}";</style>
    <script type="text/javascript" src="${tg.url('/js/libs/excanvas.js')}"></script>
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/jxlib/jxtheme.uncompressed.css')}" />
    <style type="text/css">@import "${tg.url('css/map.css')}";</style>
    <style type="text/css">@import "${tg.url('css/ServiceElement.css')}";</style>
    <style type="text/css">@import "${tg.url('css/search.css')}";</style>

    <script type="text/javascript" src="${tg.url('/js/lib/mootools.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/lib/mootools-more.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/lib/jxlib.js')}"></script>
    <script type="text/javascript">Jx.baseURL = '${tg.url("/js/lib")}';</script>
    <!--!
        "js/lib/babel.js" et "js/lib/babelThemes.js" doivent être chargés
        avant "i18n", qui doit être chargé avant nos scripts.
    -->
    <script type="text/javascript" src="${tg.url('/js/lib/ScrollSpy.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/lib/babel.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/lib/babelThemes.js')}"></script>
    <script type="text/javascript" src="${tg.url('/i18n')}"></script>

    <script type="text/javascript">
        var can_edit = ${defined('can_edit') and can_edit or 0};
        var is_manager = ${defined('is_manager') and is_manager or 0};
        var show_maptree = ${int(asbool(tg.config.get('show_maptree', True)))};
        var spy = new ScrollSpy({
            mode: 'horizontal',
            onTick: function (pos, inside, enters, leaves, e) {
                $('header').setStyle('left', pos.x + 'px');
                $('menu').setStyle('left', pos.x + 'px');
            }
        });
    </script>

    <script type="text/javascript" src="${tg.url('/js/main.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/loader.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/legend.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/canvas.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/grouptree.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/menu.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/map.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/details.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/mapElement.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/ServiceElement.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/search.js')}"></script>

    <!--! Fichiers statiques des extensions. -->
    <script py:for="widget in widgets['js']" type="text/javascript" src="${tg.url(widget+'.js')}"></script>
    <link py:for="widget in widgets['css']" rel="stylesheet" type="text/css" href="${tg.url(widget+'.css')}" />

    <meta py:replace="select('*|comment()')"/>
</head>

<body py:match="body" py:attrs="select('@*')">

    <div id="header">
        <span id="logo">
            <a href="${tg.url(tg.config.get('logo_link', '/'))}">
                <img alt="${''}" src="${tg.url('/images/vigilo.png')}"/>
            </a>
        </span>

        <div class="header_icons">
            <div class="header_icon">
                <a id="search" href="?">
                    <img src="${tg.url('/images/search.png')}"
                        alt="Search" title="Search for a specific host/graph" />
                </a>
            </div>
            <div py:if="tg.config.get('help_link')" class="header_icon">
                <a href="${tg.config['help_link']}">
                    <img src="${tg.url('/images/help.png')}" alt="Help" title="Help"/>
                </a>
            </div>
            <!--! On masque le bouton de login/logout si une authentification externe est utilisée. -->
            <div py:if="tg.auth_stack_enabled and not tg.request.environ['vigilo.external_auth']" class="header_icon">
                <a href="${tg.url('/logout_handler')}">
                    <img src="${tg.url('/images/logout.png')}" alt="Log out" title="Log out"/>
                </a>
            </div>
        </div>

        <h1><a href="${tg.url('/')}">VigiMap<span id="maptitle"></span></a></h1>
    </div>

    <div id="menu">
    </div>

    <div id="content">
        <div py:replace="select('*|text()')"/>
    </div>

    <!--! Container utilisé par le formulaire de recherche. -->
    <div style="display: none">
        <div id="search_container">
            <form id="search_form" action="" method="post">
                <label for="search_form_map">Map:</label>
                <input type="text" id="search_form_map" name="search_form_map"
                    title="Search for a map (&quot;*&quot; for all, 100 max)" />
                <!--!
                    Internet Explorer (7 et peut-être d'autres) ne transmet
                    pas les formulaires ne contenant qu'un seul champ éditable
                    lorsqu'on appuie sur Entrée. On ajoute un second champ
                    pour contourner le problème.
                -->
                <input type="text" name="dummy" style="display: none"/>
                <input type="submit" id="search_form_search" value="${l_('Search')}" />
                <img alt="${l_('Warning')}"
                    src="${tg.url('/images/messagebox_warning.png')}"
                    title="${l_('Your search returned more than 100 results. '
                                'Only the first 100 entries are displayed.')}"/>
                <div><p>Results:</p></div>
                <div id="search_results"></div>
            </form>
        </div>
    </div>

</body>

<py:def function="map">
    <py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
        <div py:if="flash" py:content="XML(flash)" />
    </py:with>

    <div id="map">
        <canvas>
            Your browser does not support the canvas element. Please upgrade.
        </canvas>

        <!-- Containeur pour les éléments placés automatiquement. -->
        <div id="automap"></div>
        <!-- Containeur pour la légende. -->
        <div id="legend"></div>
    </div>

    <div id="loading">
        <img alt="loading..." src="${tg.url('images/loading.gif')}" />
    </div>

    <script type="text/javascript">
    /*<![CDATA[*/
        window.addEvent('load', function (){
            var flash = $('flash');
            if (flash) {
                flash.fade('in').pauseFx(10000).fade('out');
            }
        });
    /*]]>*/
    </script>
</py:def>

</html>
