<div xmlns:py="http://genshi.edgewall.org/">
    <p class="status status-${status.lower()}">${message}</p>
    <ul class="tags" py:if="tags">
        <li py:for="tag in tags">
            <img src="images/tags/${tag}.png" alt="${l_(tag)}" /> ${l_(tag)}
        </li>
    </ul>
    <h2 py:if="links">Links</h2>
    <ul class="section links" py:if="links">
        <li py:for="link in links">
            <a target="_blank" href="${tg.url(link[1])}" > ${link[0]}</a>
        </li>
    </ul>
    <h2 py:if="maps">Submaps</h2>
    <ul class="section maps" py:if="maps">
        <li py:for="map in maps">
            <a href="index#mapid=${map[0]}" onclick="map.load(${map[0]}); return false;" > ${map[1]}</a>
        </li>
    </ul>
    <py:choose test="">
        <py:when test="node.has_key('service')">
            <p>${l_("Service name: %(service)s on %(host)s") % {'service': node['service'], 'host': node['host' ]}}</p>
        </py:when>
        <py:when test="node.has_key('hls')">
            <p>${l_("Service name: %(service)s") % {'service': node['hls']}}</p>
        </py:when>
        <py:otherwise>
            <p>${l_("Appliance name: %(host)s") % {'host': node['host']}}</p>
        </py:otherwise>
    </py:choose>
</div>
