<div xmlns:py="http://genshi.edgewall.org/">
    <p class="status ${status.lower()}">${message}</p>
    <ul class="tags">
      <li py:for="tag in tags">
        <img src="images/${tag}.png" alt="${l_(tag)}" /> ${l_(tag)}
      </li>
    </ul>
    <ul class="links">
      <li py:for="link in links">
        <a href="${link[1]}" > ${link[0]}</a>
      </li>
    </ul>
    <ul class="maps">
      <li py:for="map in maps">
        <a href="maps/map?mapid=${map[0]}" > ${map[1]}</a>
      </li>
    </ul>
    <p>${l_("Appliance name: %(host)s") % {'host': host}}</p>
</div>
