<div xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <p class="status status-${node['status'].lower()}">${node['message']}</p>

    <h2 class="tags" py:if="node['tags']">Tags</h2>
    <ul class="section tags" py:if="node['tags']">
        <li py:for="tag in node['tags']">
            <img src="images/tags/${tag}.png" alt="${_(tag)}" /> ${_(tag)}<py:if test="node['tags'][tag]">: ${node['tags'][tag]}</py:if>
        </li>
    </ul>

    <h2 class="dependencies" py:if="node['dependencies']">Dependencies</h2>
    <ul class="section dependencies" py:if="node['dependencies']">
        <li py:for="dependency in node['dependencies']" class="status status-${dependency['status'].lower()} dependency" title="${dependency['message']}">
            ${dependency['item']}
        </li>
    </ul>

    <h2 class="links" py:if="links">Links</h2>
    <ul class="section links" py:if="links">
        <li py:for="link in links">
            <a target="${link[2]}" href="${tg.url(link[1])}" > ${link[0]}</a>
        </li>
    </ul>

    <h2 class="submaps" py:if="node['maps']">Submaps</h2>
    <!--!
        On intègre le contenu générique (liste des sous-cartes)
        en supprimant le "div" qui englobe cette liste.
    -->
    <xi:include href="submaps.html"/>

    <p class="reference" py:choose="">
        <!--! Service de bas niveau. -->
        <py:when test="node['service'] and node['host']">
            ${_("Service name: %(service)s on %(host)s (%(address)s)") % {
                'service': node['service'],
                'host': node['host' ],
                'address': node['address']
            }}
        </py:when>
        <!--! Service de haut niveau. -->
        <py:when test="node['service']">
            ${_("Service name: %(service)s") % {
                'service': node['service']
            }}
        </py:when>
        <!--! Hôte -->
        <py:otherwise>
            ${_("Appliance name: %(host)s (%(address)s)") % {
                'host': node['host'],
                'address': node['address']
            }}
        </py:otherwise>
    </p>
</div>
