
<div xmlns:py="http://genshi.edgewall.org/">
    <h1>Node update!</h1>
    <!--  ${mapnode_form(kw)}  -->
	<script type="text/javascript" src="js/selectmapgroup.js"></script>
</div>


<!-- Ceci est un commentaire


<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
      

      <div id="SHNDialog">
          <ul id="SHNDialog_liste">
              <li>.</li>
          </ul>
    </div> 

    <script type="text/javascript" src="${tg.url('/javascript/vigiboard_plugin/shn.js')}" ></script>

</html>

-->