<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VigiMap</title>
    <!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/jxtheme.uncompressed.css')}" />
    <script type="text/javascript" src="${tg.url('/js/mootools.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/mootools-more.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/jxlib.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/images.js')}"></script>
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/style.css')}" />
</head>

<body>
    <h1>Welcome to Widget!</h1>
    ${widget_form()}
</body>
</html>
