body {
    line-height: 0px;
}

#DetailsDialog {
    line-height: 1.2em;
}

.main_content {
    line-height: 1.2em;
}

#header {
    border: solid 0px black;
    background-color: #F0F1F5;
}

.header_select {
    background-color: #DBEAF5;
    border: 1px solid #4682B4;
}

.plugins th {
	background-color: #EBECF0;
	border: solid 1px #EBECF0;
}

.vigitable tbody tr,
.vigitable tbody tr td {
	border: solid 1px white;
}

.vigitable .table_title,
.vigitable .line_pagination,
.vigitable .pagination {
    color: white;
    background-color: #4682b4;
}

.history_table thead,
tr.odd {
	background-color: #F8F8F8;
}

tr.even {
	background-color: #F0F0F0;
}

td.OK,
td.UP {
    background-color: #73DE78;
}

td.WARNING {
	background-color: #FFFF00;
}

td.CRITICAL,
td.DOWN {
	background-color: #FF0000;
}

td.WARNING_Ack {
	background-color: #FCFCA2;
}

td.CRITICAL_Ack,
td.DOWN_Ack {
	background-color: #FC9090;
}

td.OK_Ack,
td.UP_Ack {
	background-color: #A9EBAC;
}

a {
	color: black;
}

#flash .ok {
    background: #d8ecd8 url(../images/ok.png) no-repeat scroll 0px center;
    line-height: 1.2em;
}
#flash .warning {
    background: #fff483 url(../images/warning.png) no-repeat scroll 0px center;
    line-height: 1.2em;
}
#flash .error {
    background: #f9c5c1 url(../images/error.png) no-repeat scroll 0px center;
    line-height: 1.2em;
}
#flash .alert,
#flash .info,
.notice {
    background: #EEEEFF url(../images/info.png) no-repeat scroll 0px center;
    line-height: 1.2em;
}

.fielderror {
    color: red;
}

