.toolbar {
	border: solid 0px black;
}

.plugins th {
	border: solid 1px #EBECF0;
}

.vigitable tbody tr,
.vigitable tbody tr td {
	border: solid 1px white;
}

a {
	color: black;
}

#flash .ok {
    background: #d8ecd8 url(../images/ok.png) no-repeat scroll 0px center;
}
#flash .warning {
    background: #fff483 url(../images/warning.png) no-repeat scroll 0px center;
}
#flash .error {
    background: #f9c5c1 url(../images/error.png) no-repeat scroll 0px center;
}
#flash .alert,
#flash .info {
    background: #EEEEFF url(../images/info.png) no-repeat scroll 0px center;
}
.notice {
    background: #EEEEFF url(../images/info.png) no-repeat scroll 0px center;
}

.fielderror {
    color: red;
}

.refresh_select {
	border: 1px solid #4682B4;
}

