#header {
    border-bottom: 1px solid #a4a4a4;
    background-color: #F0F1F5;
    margin-bottom: 10px;
    padding: 0.1em 0;
    height: 24px;
}

#header a {
    text-decoration: none;
}

#logo {
    /*margin: 0 0.2em;*/
    margin: 0.3em 0.2em;
    float: left;
}

h1 {
    font-size: 110%;
    margin: 7px 0.2em 0 -58px;
    font-family: sans-serif;
    text-shadow: 0.1em 0.1em 0.2em #ccc;
}

h1 a,
h1 a:visited,
h1 a:hover,
h1 a:active
{
    text-decoration: none;
    color: black;
}
h1 a:hover {
    text-shadow: 0.1em 0.1em 0.2em #aaa;
}

.header_item {
    margin-left: 30px;
    float: right;
}

.header_select,
.header_select options {
    height: 1.5em;
}

.header_select {
    margin-top: 0.2em;
}

.header_item img {
    margin: 0 0.1em;
}

.header_item input {
    margin-top: 0.4em;
}

.header_item#font_size_selector {
    margin-top: 0.4em;
}

/* Table des évènements */

.vigitable {
    margin: auto;
    width: 99%;
    border-collapse: separate;
}

.vigitable .navigation_arrow * {
    width: 2.9em;
    height: 3.4em;
}

.vigitable .left_arrow {
    float: left;
}

.vigitable .right_arrow {
    float: right;
}

.vigitable > thead > tr:first-child > th,
.vigitable > tfoot > tr > th {
    text-align: center;
    border: 0;
}

.vigitable .table_title,
.vigitable .line_pagination,
.vigitable .pagination {
    margin: 0 2.9em;
}

.vigitable .table_title span {
	font-size: 1.1em;
	font-weight: bold;
	line-height: 3.1em;
}

.vigitable .line_pagination span {
	line-height: 3.4em;
}

.vigitable .pagination span {
	line-height: 1.7em;
}

.vigitable tbody tr {
	border: solid 1px white;
    empty-cells: show;
}

.vigitable tbody tr td {
	border: solid 1px white;
    empty-cells: show;
}

.vigitable a {
	text-decoration: none;
}

.vigitable img {
	border: none;
	margin: 0;
	vertical-align: middle;
}

.vigitable tbody tr.selectedRow td {
    border: 1px dashed #000000;
}

/* Flash */

#flash {
	opacity: 0;
}

#flash, .notice {
    font-size: 120%;
    font-weight: bolder;
    bottom: 0px;
    right: 0px;
    width: 100%;
    position: absolute;
    /* Pour les navigateurs un peu plus évolués. */
    position: fixed;
}
#flash div, .notice {
    padding: 8px 7px 6px 44px;
}

.fielderror {
    color: red;
    font-weight: bold;
}

div.clearingdiv {
    clear: both;
}

/* Formulaire de recherche */

#SearchDialog .jxDialogContentContainer,
#SearchDialog .jxDialogContent,
#search_form table,
#search_form {
    height: 100%;
    width: 100%;
}

#search_form table tr {
    height: 3em;
}

#search_form .labelcol {
    width: 25%;
    padding-left: 5px;
}

#search_form .fieldcol {
    width: 75%;
    padding-right: 10px;
}

#search_form .textfield {
    width: 99%;
    height: 1.4em;
    font-size: 1.2em;
}

#search_form .calendardatetimepicker {
    width: 67%;
    height: 1.4em;
    font-size: 1.2em;
}

#search_form .date_field_button {
    width: 29%;
    height: 1.7em;
    font-size: 1.2em;
}

#search_form .submitbutton {
    height: 1.7em;
    font-size: 1.2em;
    margin: 0 auto;
}

/* "\2E " permet d'échapper le point.
 * La séquence devrait être reconnue par tous les navigateurs. */
#search_form #search_form_supitemgroup\2E ui {
    width: 42%;
}
#search_form_supitemgroup,
#search_form_supitemgroup\2E clear {
    width: 26%;
    height: 1.7em;
    font-size: 1.2em;
}

#search_form_priority_value {
    width: 80.5% !important;
}

#search_mode_tip {
    margin-top: 7px;
}

#search_mode_tip a {
    color:rgb(70, 130, 180);
    text-decoration: underline;
}


/* Formulaire d'édition */

#edit_event_form table {
    width: 100%;
    height: 115px;
}

#edit_event_form table tr {
    height: 3em;
}

#edit_event_form .labelcol {
    width: 25%;
    padding-left: 5px;
}

#edit_event_form .fieldcol {
    width: 75%;
    padding-right: 10px;
}

#edit_event_form .textfield {
    width: 99%;
    height: 1.4em;
    font-size: 1.2em;
}

#edit_event_form .singleselectfield {
    width: 100%;
    height: 1.7em;
    font-size: 1.2em;
}

#edit_event_form .submitbutton {
    height: 1.7em;
    font-size: 1.2em;
    margin: 0 auto;
}

#edit_event_form_warning {
    color: red;
    font-weight: bold;
    text-align: center;
}

/* Dialogue de détails */

#DetailsDialog {
    padding: 5px;
}

#DetailsDialog hr {
    margin: 10px 5px;
}

#DetailsDialog #state_info span.value {
    position: absolute;
    right: 10px;
}

#DetailsDialog #history_links,
#DetailsDialog #external_links,
#DetailsDialog #state_info {
    padding-top: 1px;
    padding-left: 10px;
}

#DetailsDialog a {
	text-decoration: none;
}

#DetailsDialog a:hover{
    text-decoration: underline;
}

#DetailsDialog_initial_state,
#DetailsDialog_current_state,
#DetailsDialog_peak_state {
    font-weight: bold;
}

#DetailsDialog .loading,
#DetailsDialog .loading-error {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
}

#DetailsDialog .loading img,
#DetailsDialog .loading-error p {
    display: block;
    float: right;
    margin-top: 6px;
    margin-right: 5px;
}

#DetailsDialog .loading-error p {
    font-weight: bold;
    color: red;
}

/* Plugins */

.plugins th {
    font-weight: bold;
}

.plugin_error,
.plugin_date,
.plugin_servicename,
.plugin_hostname,
.plugin_output,
.plugin_hls,
.plugin_tt,
.plugin_state,
.plugin_history,
.plugin_user,
.plugin_type,
.plugin_value,
.plugin_text {
    padding: 3px 10px;
}

#plugin_date {
    text-align: left;
    font-weight: normal;
}

.plugin_date:first-line {
    font-weight: bold;
}

.plugin_checkbox,
.plugin_details,
.plugin_priority,
.plugin_occurrences,
.plugin_status,
.plugin_hls,
.plugin_tt,
.plugin_state,
.plugin_history,
.plugin_value {
    text-align: center;
}

.plugin_priority,
.plugin_occurrences {
    width: 4em;
}

.plugin_hls {
    width: 8em;
}

#plugin_hls_list {
    padding: 10px;
}

.plugin_details img {
    width: 2em;
    height: 2em;
}

.plugin_details img {
    width: 1.5em;
    height: 1.5em;
}

#details_maps {
    padding-top: 1px;
    padding-left: 10px;
}
