body {
    text-align: left;
    width: 100%;
    font-size: 10px;
    margin: auto !important;
    font-family: "Lucida Grande", "Lucida Sans Unicode", geneva, verdana, sans-serif;
}

.toolbar {
	background-color: #F0F1F5;
	margin-bottom: 10px;
	padding: 4px;
}

#logo img {
    width: 58px;
}

.toolbar_item {
    margin-left: 30px; 
    float: right
}

.toolbar_select,
.toolbar_select options {
    height: 1.5em;
}

#font_size_selector {
    margin-top: 5px;
}

/* Table des évènements */

#vigitable_navigation_bar {
}

.vigitable {
    margin: auto;
	width: 99%;
	border-collapse: collapse;
}

.navigation_arrow * {
    width: 3em;
    height: 3.5em;
}

.navigation_arrow {
    background-color: inherit;
    border: 0;
    width: 3em;
}

#pagination,
#table_title {
    text-align: center;
    border: 0;
}

#table_title {
	font-weight: bold;
	font-size: 1.1em;
}

.vigitable tbody tr {
	border: solid 1px white;
    empty-cells: show;
}

.vigitable tbody tr td {
	border: solid 1px white;
    empty-cells: show;
}

a {
	text-decoration: none;
}

img { 
	border: none;
	margin: 0;
}

/* Flash */

#flash {
	opacity: 0;
}

#flash, .notice {
    font-size: 120%;
    font-weight: bolder;
    bottom: 0px;
    right: 0px;
    width: 100%;
    position: absolute;
    /* Pour les navigateurs un peu plus évolués. */
    position: fixed;
}
#flash div, .notice {
    padding: 8px 7px 6px 44px;
}

.fielderror {
    color: red;
    font-weight: bold;
}

div.clearingdiv {
    clear: both;
}

/* Formulaire de recherche */

#SearchDialog .jxDialogContentContainer,
#SearchDialog .jxDialogContent,
#search_form table,
#search_form {
    height: 100%;
    width: 100%;
}

#search_form table tr {
	height: 3em;
}

#search_form .labelcol {
    width: 25%;
    padding-left: 5px;
}

#search_form .fieldcol {
    width: 75%;
    padding-right: 10px;
}

#search_form .textfield {
    width: 99%;
    height: 1.4em;
    font-size: 1.2em;
}

#search_form .calendardatetimepicker {
    width: 67%;
    height: 1.4em;
    font-size: 1.2em;
}

#search_form .date_field_button {
    width: 29%;
    height: 1.7em;
    font-size: 1.2em;
}

#search_form .submitbutton {
    height: 1.7em;
    font-size: 1.2em;
    margin: 0 auto;
}

#search_mode_tip {
    margin-top: 7px;
}

#search_mode_tip a {
    color:rgb(70, 130, 180);
    text-decoration: underline;
}


/* Formulaire d'édition */

#edit_event_form table {
    width: 100%;
    height: 115px;
}

#edit_event_form table tr {
	height: 3em;
}

#edit_event_form .labelcol {
    width: 25%;
    padding-left: 5px;
}

#edit_event_form .fieldcol {
    width: 75%;
    padding-right: 10px;
}

#edit_event_form .textfield {
    width: 99%;
    height: 1.4em;
    font-size: 1.2em;
}

#edit_event_form .singleselectfield {
    width: 100%;
    height: 1.7em;
    font-size: 1.2em;
}

#edit_event_form .submitbutton {
    height: 1.7em;
    font-size: 1.2em;
    margin: 0 auto;
}

/* Dialogue de détails */

#DetailsDialog {
    padding: 5px;
}

#DetailsDialog hr {
    margin: 10px 5px;
}

#DetailsDialog #state_info span.value {
    position: absolute;
    right: 10px;
}

#DetailsDialog #history_links,
#DetailsDialog #external_links,
#DetailsDialog #state_info {
    padding-top: 1px;
    padding-left: 10px;
}

#DetailsDialog a:hover{
    text-decoration: underline;
}

#DetailsDialog_initial_state,
#DetailsDialog_current_state,
#DetailsDialog_peak_state {
    font-weight: bold;
}


/* Plugins */

.plugins th {
    font-weight: bold;
}

.plugin_date,
.plugin_servicename,
.plugin_hostname,
.plugin_output,
.plugin_hls,
.plugin_tt {
    padding: 3px 10px;
}

#plugin_date {
    text-align: left;
    font-weight: normal;
}

.plugin_date:first-line {
    font-weight: bold;
}

.plugin_details,
.plugin_priority,
.plugin_occurrences,
.plugin_status,
.plugin_hls,
.plugin_tt {
    text-align: center;
}

.plugin_priority,
.plugin_occurrences {
    width: 4em;
}

.plugin_hls {
    width: 8em;
}

#plugin_hls_list {
    padding: 10px;
}

.plugin_details img {
    width: 2em;
    height: 2em;
}

.plugin_details img {
    width: 1.5em;
    height: 1.5em;
}

