body {
    background-color: rgb(156, 102, 31);
}

.toolbar {
	border: solid 0px black;
	background-color: #FFBF00;
}

.history_table thead {
	background-color:#CC8100;
}

.plugins th {
	background-color: #CC8133;
	border: solid 1px #CC8133;
}

.vigitable tbody tr,
.vigitable tbody tr td {
	border: solid 1px #CC8133;
}

.pagination,
.table_title,
.left_empty_col,
.right_empty_col {
    color: black;
    background-color: #BB9966;
}

tr.odd {
	background-color: #FFBF00;
}

tr.even {
	background-color: #FFBF33;
}

a {
	color: black;
}

#flash .ok {
    background: #d8ecd8 url(../images/ok.png) no-repeat scroll 0px center;
}
#flash .warning {
    background: #fff483 url(../images/warning.png) no-repeat scroll 0px center;
}
#flash .error {
    background: #f9c5c1 url(../images/error.png) no-repeat scroll 0px center;
}
#flash .alert,
#flash .info,
.notice {
    background: #EEEEFF url(../images/info.png) no-repeat scroll 0px center;
}

.fielderror {
    color: red;
}

.toolbar_select {
	background-color: #FFBF33;
	border: 1px solid #CC8100;
}

/* Dialogues */

.jxDialogContent {
	background-color: #FFBF00;
}

