body {
        text-align: left;
        width: 99%;
        margin: auto;
        padding: 0;
        font-size: 10px;
        font-family:"Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
}

.table_top {
	border: solid 0px black;
	width: 100%;
	background-color: #F0F1F5;
	border-collapse:collapse;
	margin-bottom: 10px;
}
.table_top tr td {
	padding: 4px;
}

.history_table {
	width: 100%;
	margin-bottom: 30px;
}
.history_table thead {
	background-color:#F8F8F8;
	font-weight:bold;
}


.vigitable {
	width: 100%;
	border-collapse: collapse;
}

.vigitable thead {
	text-align: center;
}

.vigitable thead tr td {
	padding: 0px;
}

.vigitable thead tr th {
	padding: 4px 10px;
	background-color: #EBECF0;
	font-weight: bold;
	border: solid 1px #EBECF0;
}

.vigitable tbody tr {
	border: solid 1px white;
        empty-cells: show;
}

.vigitable tbody tr td {
	border: solid 1px white;
        padding: 3px 10px;
        empty-cells: show;
}

.vigitable .fleche_detail {
	padding: 3px;
}

tr.odd {
	background-color: #F8F8F8;
}

tr.even {
	background-color: #F0F0F0;
}

td.OK {
    background-color: #73DE78;
}

td.WARNING {
	background-color: #FFFF00;
}

td.CRITICAL {
	background-color: #FF0000;
}

td.WARNING_Ack {
	background-color: #FCFCA2;

}

td.CRITICAL_Ack {
	background-color: #FC9090;
}

td.OK_Ack {
	background-color: #A9EBAC;
}

a {
	text-decoration: none;
	color: black;
}

img { 
	border: none;
	margin: 0px;
}

#flash {
	opacity: 0;
}
#flash, .notice {
font-size:120%;
font-weight:bolder;
margin:0pt auto 0.5em;
margin-left: 26px;
width:400px;
position: absolute;
}
#flash div, .notice {
padding:8px 7px 6px 40px;
}
#flash .ok {
background:#d8ecd8 url(../images/ok.png) no-repeat scroll 0px center;
}
#flash .warning {
background:#fff483 url(../images/warning.png) no-repeat scroll 0px center;
}
#flash .error {
background:#f9c5c1 url(../images/error.png) no-repeat scroll 0px center;
}
#flash .alert,
#flash .info {
background:#EEEEFF url(../images/info.png) no-repeat scroll 0px center;
}
.notice {
background:#EEEEFF url(../images/info.png) no-repeat scroll 0px center;
}
.fielderror {
color:red;
font-weight:bold;
}
div.clearingdiv {
clear:both;
}

.toolbar_select {
	background-color: #DBEAF5;
	border: 1px solid #4682B4;
}

#DetailsDialog_initial_state,
#DetailsDialog_current_state,
#DetailsDialog_peak_state {
    font-weight: bold;
}


/* Formulaire de recherche */

form#search_form
{
    width: 100%;
}

form#search_form table
{
    width: 99%;
    margin: auto;
}

form#search_form table td
{
    padding-bottom: 2px;
}

form#search_form .labelcol
{
    width: 100px;
}

form#search_form .fieldcol
{
    width: 300px;
}

form#search_form .textfield
{
    width: 98%;
}

form#search_form .calendardatetimepicker
{
    width: 68%;
}

form#search_form .date_field_button
{
    width: 29%;
}

form#search_form input
{
    font-size: 12px;
}


/* Formulaire d'édition */

form#edit_event_form
{
    width: 100%;
}

form#edit_event_form table
{
    width: 99%;
    margin: auto;
}

form#edit_event_form table td
{
    padding-bottom: 2px;
}

form#edit_event_form .labelcol
{
    width: 100px;
}

form#edit_event_form .fieldcol
{
    width: 300px;
}

form#edit_event_form .textfield
{
    width: 98%;
}

form#edit_event_form .singleselectfield
{
    width: 99%;
}

form#edit_event_form input
{
    font-size: 12px;
}




