<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<script type="text/javascript">
/*<![CDATA[*/
    window.addEvent('domready', function () {
        window.hls_dialog = new Jx.Dialog({
            id: "hls_dialog",
            label: "${l_('Impacted high-level services').encode('backslash')}",
            modal: false,
            resize: false,
            move: true,
            content: '',
            width: 275,
            height: 183,
            onOpen: window.dlg_open_handler,
            onClose: window.dlg_close_handler,
        });
    });

    function vigiboard_hls_dialog(ref, url, idd) {
        window.hls_dialog.setBusy(true);
        window.hls_dialog.open();

        var req = new Request.JSON({
            url: '${tg.url("/get_plugin_value")}',
            onSuccess: function (json, raw) {
                var code = '<ul id="impacted_hls_list">';
                for (var i = 0; i < json.services.length; i++)
                    code += '<li>' + json.services[i] + '<\/li>';
                code += '<\/ul>';
                window.hls_dialog.setBusy(false);
                window.hls_dialog.setContent(code);
            },
            onFailure: function (xhr) {
                window.hls_dialog.setBusy(false);
                window.hls_dialog.setContent("${l_('Error while retrieving data').encode('backslash')}");
            },
        });
        req.post({plugin_name: 'shn', idcorrevent: idd});
    }
/*]]>*/
</script>

</html>
