<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<?python from urllib import quote ?>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>${"Vigilo"}</title>
</head>

<body>
  <p>Select the monitored device whose data should be displayed:</p>
  <ul>
    <li py:for="host in hosts" py:with="qhost = quote(host, '')">
      <a href="${tg.url('./%s/%s' % (qhost, default_url.format(host=qhost)))}">${host}</a>
    </li>
  </ul>
</body>
</html>
