<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="vigiboard.html" />

<?python from genshi import HTML ?>
<?python from vigilo.models.tables import StateName ?>
<?python from vigiboard.controllers.plugins import VigiboardRequestPlugin ?>

<head>
    <py:choose>
        <title py:when="hostname and servicename">
            ${"VigiBoard - "}${l_('Events table for service "%(servicename)s" on "%(hostname)s"') % {
                'hostname': hostname,
                'servicename': servicename,
            }}
        </title>
        <title py:when="hostname">
            ${"VigiBoard - "}${l_('Events table for host "%s"') % hostname}
        </title>
        <title py:otherwise="">
            <!--! Le l_ permet ici de réutiliser les traductions. -->
            ${"VigiBoard - "}${l_('Events table')}
        </title>
    </py:choose>
</head>

<?python
    plugin_header_functions = {}
    plugin_data_functions = {}
?>

<body>
    <div style="display: none">
        <py:for each="(plugin_name, plugin_instance) in config['columns_plugins']">
            <xi:include href="plugins/${plugin_name}.html"><xi:fallback><xi:include
                href="plugins/_default.html"/></xi:fallback></xi:include>
            ${plugin_template(plugin_name, plugin_instance)}
        </py:for>
    </div>

    <table class="vigitable loadingLayer" summary="Event table" py:with="columns_count = sum([p[1].get_generated_columns_count() for p in config['columns_plugins']])">
        <thead>
            <tr>
                <th colspan="${columns_count}">

                    <div class="navigation_arrow left_arrow">
                        <py:choose>
                            <img py:when="not page.previous_page" src="${tg.url('/images/dis_top_left_arrow.png')}" alt="Previous" title="Previous page" />

                            <a py:when="hostname and servicename" href="${tg.url('/item/%(page)d/%(hostname)s/%(servicename)s' % {'page': page.previous_page, 'hostname': hostname, 'servicename': servicename})}">

                                <img src="${tg.url('/images/top_left_arrow.png')}" alt="Previous" title="Previous page"/>
                             </a>

                            <a py:when="hostname" href="${tg.url('/item/%(page)d/%(hostname)s' % {'page': page.previous_page, 'hostname': hostname})}">
                                <img src="${tg.url('/images/top_left_arrow.png')}" alt="Previous" title="Previous page"/>
                            </a>

                            <a py:otherwise=""
                                href="${tg.url('/', sort=sort, order=order, params=fixed_search, page=page.previous_page)}">
                                <img src="${tg.url('/images/top_left_arrow.png')}" alt="Previous" title="Previous page"/>
                             </a>
                        </py:choose>
                    </div>

                    <div class="navigation_arrow right_arrow">
                        <py:choose>
                            <img py:when="not page.next_page" src="${tg.url('/images/dis_top_right_arrow.png')}"  alt="Next" title="Next page" />

                             <a py:when="hostname and servicename" href="${tg.url('/item/%(page)d/%(hostname)s/%(servicename)s' % {'page': page.next_page, 'hostname': hostname, 'servicename': servicename})}">
                                <img src="${tg.url('/images/top_right_arrow.png')}" alt="Next" title="Next page"/>
                             </a>

                             <a py:when="hostname" href="${tg.url('/item/%(page)d/%(hostname)s' % {'page': page.next_page, 'hostname': hostname})}">
                                <img src="${tg.url('/images/top_right_arrow.png')}" alt="Next" title="Next page"/>
                             </a>

                             <a py:otherwise=""
                                href="${tg.url('/', sort=sort, order=order, params=fixed_search, page=page.next_page)}">
                                <img src="${tg.url('/images/top_right_arrow.png')}" alt="Next" title="Next page"/>
                             </a>
                        </py:choose>
                    </div>

                    <py:choose>
                        <div py:when="hostname and servicename" class="table_title">
                            <span>${l_('Events table for service "%(servicename)s" on "%(hostname)s"') % {
                                'hostname': hostname,
                                'servicename': servicename,
                            }}</span>
                        </div>
                        <div py:when="hostname" class="table_title">
                            <span>${l_('Events table for host "%s"') % hostname}</span>
                        </div>
                        <div py:otherwise="" class="table_title">
                            <span>Events table</span>
                        </div>
                    </py:choose>

                </th>
            </tr>

            <tr class="plugins">
                <py:for each="(plugin_name, plugin_instance) in config['columns_plugins']">
                    ${plugin_header_functions[plugin_name](plugin_name, plugin_instance, sort, order)}
                </py:for>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th colspan="${columns_count}">

                    <div class="navigation_arrow left_arrow">
                        <py:choose>
                         <img py:when="not page.previous_page" src="${tg.url('/images/dis_bottom_left_arrow.png')}" alt="Previous" title="Previous page" />

                             <a py:when="hostname and servicename" href="${tg.url('/item/%(page)d/%(hostname)s/%(servicename)s' % {'page': page.previous_page, 'hostname': hostname, 'servicename': servicename})}">
                                <img src="${tg.url('/images/bottom_left_arrow.png')}" alt="Next" title="Next page"/>
                             </a>

                             <a py:when="hostname" href="${tg.url('/item/%(page)d/%(hostname)s' % {'page': page.previous_page, 'hostname': hostname})}">
                                <img src="${tg.url('/images/bottom_left_arrow.png')}" alt="Next" title="Next page"/>
                             </a>

                            <a py:otherwise=""
                                href="${tg.url('/', sort=sort, order=order, params=fixed_search, page=page.previous_page)}">
                                <img src="${tg.url('/images/bottom_left_arrow.png')}" alt="Previous" title="Previous page"/>
                            </a>
                        </py:choose>
                    </div>

                    <div class="navigation_arrow right_arrow">
                        <py:choose>
                            <img py:when="not page.next_page" src="${tg.url('/images/dis_bottom_right_arrow.png')}"  alt="Next" title="Next page" />

                             <a py:when="hostname and servicename" href="${tg.url('/item/%(page)d/%(hostname)s/%(servicename)s' % {'page': page.next_page, 'hostname': hostname, 'servicename': servicename})}">
                                <img src="${tg.url('/images/bottom_right_arrow.png')}" alt="Next" title="Next page"/>
                             </a>

                             <a py:when="hostname" href="${tg.url('/item/%(page)d/%(hostname)s' % {'page': page.next_page, 'hostname': hostname})}">
                                <img src="${tg.url('/images/bottom_right_arrow.png')}" alt="Next" title="Next page"/>
                             </a>

                            <a py:otherwise=""
                                href="${tg.url('/', sort=sort, order=order, params=fixed_search, page=page.next_page)}">
                                <img src="${tg.url('/images/bottom_right_arrow.png')}" alt="Next" title="Next page"/>
                             </a>
                        </py:choose>
                    </div>

                    <div class="${page.item_count and 'pagination' or 'line_pagination'}">
                        <span>
                            ${l_('Showing rows %(id_first_row)d to %(id_last_row)d of %(total_rows)d') % {
                                'id_first_row': page.first_item or 0,
                                'id_last_row': page.last_item or 0,
                                'total_rows': page.item_count,
                            }}
                            <br/>
                            ${page.pager(
                                format='$link_first $link_previous ~3~ $link_next $link_last',
                                page_param='page', show_if_single_page=True, order=order, sort=sort, **fixed_search
                            )}
                        </span>
                    </div>
                </th>
            </tr>
        </tfoot>

        <tbody py:choose="not page.item_count">
            <tr py:when="1">
                <td colspan="${columns_count}" class="plugin_error">There are no events.</td>
            </tr>

            <tr py:when="0" py:for="(index, event) in enumerate(page.items)" class="${['odd', 'even'][index % 2]}">
                <py:for each="(plugin_name, plugin_instance) in config['columns_plugins']">
                    ${plugin_data_functions[plugin_name](plugin_name, plugin_instance,
                                                         plugin_instance.get_data(event),
                                                         plugins_data[plugin_name].get(event[0].idcorrevent))}
                </py:for>
            </tr>
        </tbody>
    </table>
</body>

</html>
