<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

<py:def function="history_table(history,error)">

<p py:if="(not history or len(history) == 0) and error == True">
There is no history.
</p>

<py:if test="history and len(history) > 0">
<table class="history_table" summary="History">
	<thead>
		<tr>
			<td>Time</td>
			<td>User</td>
			<td>Type</td>
			<td>Value</td>
			<td>Text</td>
		</tr>
	</thead>
	<tbody>
		<py:for each="(index, entry) in enumerate(history)">
		<tr class="${['odd', 'event'][index % 2]}">
			<td>${entry.timestamp}</td>
			<td>${entry.username}</td>
			<td>${entry.type_action}</td>
			<td>${entry.value}</td>
			<td>${entry.text}</td>
		</tr>
		</py:for>
	</tbody>
</table>
</py:if>

</py:def>

</html>
