<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="vigiboard.html" />

<?python from genshi import HTML ?>
<?python from vigilo.models.tables import StateName ?>
<?python from vigiboard.controllers.plugins import VigiboardRequestPlugin ?>

<head>
    <py:choose>
        <title py:when="hostname and servicename">
            VigiBoard - ${l_('History for event #%(idevent)d on host "%(hostname)s" and service "%(servicename)s"') % {
                'hostname': hostname,
                'servicename': servicename,
                'idevent': idevent,
            }}
        </title>
        <title py:when="hostname">
            VigiBoard - ${l_('History for event #%(idevent)d on host "%(hostname)s"') % {
                'hostname': hostname,
                'idevent': idevent,
            }}
        </title>
        <title py:otherwise="">
            VigiBoard - ${l_('History for event #%(idevent)d') % {
                'idevent': idevent,
            }}
        </title>
    </py:choose>
</head>

<body>
	<table class="vigitable" summary="Event history" >
		<thead>
	        <tr>
	            <th colspan="5">
	            
	            	<div class="navigation_arrow left_arrow">
				        <py:choose><!--!
					     --><img py:when="page == 1" src="${tg.url('/images/dis_top_left_arrow.png')}" alt="Previous" title="Previous page" /><!--!
					     --><a py:otherwise="" href="${tg.url('/event/%d/%d' % (idevent, page - 1))}"><!--!
					         --><img src="${tg.url('/images/top_left_arrow.png')}" alt="Previous" title="Previous page"/><!--!
					     --></a>
					    </py:choose>
					</div>
				    
	            	<div class="navigation_arrow right_arrow">
				        <py:choose><!--!
					     --><img py:when="page >= nb_pages" src="${tg.url('/images/dis_top_right_arrow.png')}"  alt="Next" title="Next page" /><!--!
					     --><a py:otherwise="" href="${tg.url('/event/%d/%d' % (idevent, page + 1))}"><!--!
					         --><img src="${tg.url('/images/top_right_arrow.png')}" alt="Next" title="Next page"/><!--!
					     --></a>
				    	</py:choose>
					</div>
				    
		          	<div class="table_title">
		          	    <py:choose>
                            <span py:when="hostname and servicename">
                                ${l_('History for event #%(idevent)d on host "%(hostname)s" and service "%(servicename)s"') % {
                                    'hostname': hostname,
                                    'servicename': servicename,
                                    'idevent': idevent,
                                }}
                            </span>
                            <span py:when="hostname">
                                ${l_('History for event #%(idevent)d on host "%(hostname)s"') % {
                                    'hostname': hostname,
                                    'idevent': idevent,
                                }}
                            </span>
                            <span py:otherwise="">
                                ${l_('History for event #%(idevent)d') % {
                                    'idevent': idevent,
                                }}
                            </span>
                        </py:choose>
				    </div>
				    
	            </th>
	        </tr>
	
			<tr class="plugins">
                <th id="plugin_date" class="plugin_date">Date<br />[Duration]</th>
                <th id="plugin_user" class="plugin_user">User</th>
                <th id="plugin_type" class="plugin_type">Type</th>
                <th id="plugin_value" class="plugin_value">Value</th>
                <th id="plugin_text" class="plugin_text">Text</th>
			</tr>
		</thead>
		<tfoot>
	        <tr>
	            <th colspan="5">
	            
		            <div class="navigation_arrow left_arrow">
				        <py:choose><!--!
					     --><img py:when="page == 1" src="${tg.url('/images/dis_bottom_left_arrow.png')}" alt="Previous" title="Previous page" /><!--!
					     --><a py:otherwise="" href="${tg.url('/event/%d/%d' % (idevent, page - 1))}"><!--!
					         --><img src="${tg.url('/images/bottom_left_arrow.png')}" alt="Previous" title="Previous page"/><!--!
					     --></a>
					    </py:choose>
		            </div>
	
		            <div class="navigation_arrow right_arrow">
				        <py:choose><!--!
					     --><img py:when="page >= nb_pages" src="${tg.url('/images/dis_bottom_right_arrow.png')}"  alt="Next" title="Next page" /><!--!
					     --><a py:otherwise="" href="${tg.url('/event/%d/%d' % (idevent, page + 1))}"><!--!
					         --><img src="${tg.url('/images/bottom_right_arrow.png')}" alt="Next" title="Next page"/><!--!
					     --></a>
					    </py:choose>
					</div>
		            
	          	    <py:choose>
		            	<div py:when="nb_pages > 1" class="pagination">
		            		<span>
				          		${l_('Showing rows %(id_first_row)d to %(id_last_row)d of %(total_rows)d') % rows_info}
			          		    <br/>
					            Pages 
					            <py:for each="p in range(1, nb_pages + 1)">
					                <a py:if="p != page" href="${tg.url('/event/%d/%d' % (idevent, p))}" py:content="p" />
					                <span py:if="p == page" py:replace="p" />
					            </py:for>
					    	</span>
				        </div>
		            	<div py:otherwise="" class="line_pagination">
		            		<span>
			          			${l_('Showing rows %(id_first_row)d to %(id_last_row)d of %(total_rows)d') % rows_info}
		          			</span>
				        </div>
	            	</py:choose>
					
	            </th>
	        </tr>
		</tfoot>
	
		<tbody py:choose="not history">
			<tr py:when="1">
			    <td colspan="5" class="plugin_error">There is no history.</td>
			</tr>
	        
	        <tr py:when="0" py:for="(index, entry) in enumerate(history)" class="${['odd', 'even'][index % 2]}">
				<td class="plugin_date">
                	${entry.get_date('timestamp')}
                	<br />
                	[${entry.get_since_date('timestamp')}]
                </td>
				<td class="plugin_user">${entry.username}</td>
				<td class="plugin_type">${entry.type_action}</td>
				<td class="plugin_value">${entry.value}</td>
				<td class="plugin_text">${entry.text}</td>
			</tr>
		</tbody>
	</table>
</body>

</html>
