<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="vigiboard.html" />

<?python from genshi import HTML ?>
<?python from vigilo.models import StateName ?>

<head> 
    <title>Vigiboard - Masked events list</title>
</head>

<body>
	<table class="vigitable raw_events" summary="Masked events list" py:with="columns_count = sum([p[1].get_generated_columns_count() for p in plugins])">
		<thead>
	        <tr>
		    	<th colspan="8">
		    	
		            <span class="navigation_arrow left_arrow">
				        <py:choose><!--!
						     --><img py:when="page == 1" src="${tg.url('/images/dis_top_left_arrow.png')}" alt="Previous" title="Previous page" /><!--!
						     --><a py:otherwise="" href="${tg.url('/masked_events/%d/%d' % (idcorrevent, page - 1))}"><!--!
						         --><img src="${tg.url('/images/top_left_arrow.png')}" alt="Previous" title="Previous page"/><!--!
						     --></a>
					    </py:choose>
		            </span>
		
		            <span class="navigation_arrow right_arrow">
				        <py:choose><!--!
						     --><img py:when="page >= nb_pages" src="${tg.url('/images/dis_top_right_arrow.png')}"  alt="Next" title="Next page" /><!--!
						     --><a py:otherwise="" href="${tg.url('/masked_events/%d/%d' % (idcorrevent, page + 1))}"><!--!
						         --><img src="${tg.url('/images/top_right_arrow.png')}" alt="Next" title="Next page"/><!--!
						     --></a>
					    </py:choose>
		            </span>
		
		            <span class="table_title">
			          	    Masked events list
		            </span>
		            
		    	</th>
	        </tr>
	
			<tr class="plugins">
                <th id="plugin_date" class="plugin_date">Date <br />[Duration]</th>
                <th id="plugin_hostname" class="plugin_hostname">Host</th>
                <th id="plugin_servicename" class="plugin_servicename">Service name</th>
                <th id="plugin_state" class="plugin_state">Initial state</th>
                <th id="plugin_state" class="plugin_state">Current state</th>
                <th id="plugin_state" class="plugin_state">Peak state</th>
                <th id="plugin_output" class="plugin_output">Output</th>
                <th id="plugin_history" class="plugin_history">History</th>
			</tr>
		</thead>
		<tfoot>
	        <tr>
	        	<th colspan="8">
	        	
	            	<span class="navigation_arrow left_arrow">
				        <py:choose><!--!
						     --><img py:when="page == 1" src="${tg.url('/images/dis_bottom_left_arrow.png')}" alt="Previous" title="Previous page" /><!--!
						     --><a py:otherwise="" href="${tg.url('/masked_events/%d/%d' % (idcorrevent, page - 1))}"><!--!
						         --><img src="${tg.url('/images/bottom_left_arrow.png')}" alt="Previous" title="Previous page"/><!--!
						     --></a>
					    </py:choose>
		            </span>
		
		            <span class="navigation_arrow right_arrow">
				        <py:choose><!--!
						     --><img py:when="page >= nb_pages" src="${tg.url('/images/dis_bottom_right_arrow.png')}"  alt="Next" title="Next page" /><!--!
						     --><a py:otherwise="" href="${tg.url('/masked_events/%d/%d' % (idcorrevent, page + 1))}"><!--!
						         --><img src="${tg.url('/images/bottom_right_arrow.png')}" alt="Next" title="Next page"/><!--!
						     --></a>
					    </py:choose>
		            </span>
		
		            <py:choose>
		            	<span py:when="nb_pages > 1" class="pagination">
			          		${l_('Showing rows %(id_first_row)d to %(id_last_row)d of %(total_rows)d') % rows_info}
		          		    <br/>
				            Pages 
				            <py:for each="p in range(1, nb_pages + 1)">
				                <a py:if="p != page" href="${tg.url('/%d' % p)}" py:content="p" />
				                <span py:if="p == page" py:replace="p" />
				            </py:for>
				        </span>
		            	<span py:otherwise="" class="line_pagination">
			          		${l_('Showing rows %(id_first_row)d to %(id_last_row)d of %(total_rows)d') % rows_info}
				        </span>
	            	</py:choose>
	            	
	        	</th>
	        </tr>
		</tfoot>
	
		<tbody py:choose="not rows_info['total_rows']">
			<tr py:when="1">
			    <td colspan="8">There are no events.</td>
			</tr>
	
	        <tr py:when="0" py:for="(index, event) in enumerate(events)" class="${['odd', 'even'][index % 2]}">           
   				<td class="plugin_date">
                	${event[0].get_date('timestamp')}
                	<br />
                	[${event[0].get_since_date('timestamp')}]
                </td>
                <td class="plugin_hostname">${event.hostname}</td>
                <td class="plugin_servicename">${event.servicename}</td>
                <td class="plugin_state">${StateName.value_to_statename(event[0].initial_state)}</td>
                <td class="plugin_state">${StateName.value_to_statename(event[0].current_state)}</td>
                <td class="plugin_state">${StateName.value_to_statename(event[0].peak_state)}</td>
                <td class="plugin_output">${event[0].message}</td>
	            <td class="plugin_history">
	            	<a href="${tg.url('/event/' + str(event[0].idevent))}"><img src="${tg.url('/images/history.png')}"/></a></td>
	        </tr>
		</tbody>
	</table>
</body>

</html>
