<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:py="http://genshi.edgewall.org/"
    py:strip="">

<py:def function="toolbar">
<div id="header">
    <span id="logo">
        <a href="${tg.url(tg.config.get('logo_link', '/'))}">
            <img alt="" src="${tg.url('/images/vigilo.png')}"/>
        </a>
    </span>

    <div class="header_item">
        <a href="${tg.url('/index.csv?%s') % tg.request.query_string}">
            <img src="${tg.url('/images/document-export.png')}" alt="Export CSV" title="Export CSV" />
        </a>
        <a href="${tg.url('/silence/')}">
            <img src="${tg.url('/images/silence.png')}" alt="Silence rules" title="Silence rules" />
        </a>
        <a href="${tg.url('/')}">
            <img src="${tg.url('/images/home.png')}" alt="Home" title="Home" />
        </a>
        <a id="SearchLien" href="javascript:window.search_dialog.open.bind(window.search_dialog)();">
            <img src="${tg.url('/images/search.png')}" alt="Filter display" title="Filter display"/>
        </a>
        <py:if test="tg.config.get('help_link')">
        <a href="${tg.config['help_link']}">
            <img src="${tg.url('/images/help.png')}" alt="Help" title="Help"/>
        </a>
        </py:if>
        <!--! On masque le bouton de login/logout si une authentification externe est utilisée. -->
        <span py:if="tg.auth_stack_enabled and not tg.request.environ['vigilo.external_auth']" py:strip="True">
        <a href="${tg.url('/logout_handler')}">
            <img src="${tg.url('/images/logout.png')}" alt="Log out" title="Log out"/>
        </a>
        </span>
    </div>

    <div class="header_item" id="font_size_selector">
        <a href="javascript:change_fontsize('${tg.config.get('fontsize.small', '5px')}')">
            <img alt="Default font size" title="Default font size" src="${tg.url('/images/icn_text_sm.png')}" />
        </a>
        <a href="javascript:change_fontsize('${tg.config.get('fontsize.medium', '10px')}')">
            <img alt="Medium font size" title="Medium font size" src="${tg.url('/images/icn_text_md.png')}" />
        </a>
        <a href="javascript:change_fontsize('${tg.config.get('fontsize.large', '25px')}')">
            <img alt="Large font size" title="Large font size" src="${tg.url('/images/icn_text_lg.png')}" />
        </a>
    </div>

    <py:with vars="refresh_delay = float(tg.config.get('refresh_delay', 30)); refresh_enabled = bool(tg.session.get('refresh', asbool(tg.config.get('refresh_enabled', False))))">
    <div class="header_item" py:if="refresh_delay">
        <input type="checkbox" id="refresh" onchange="set_refresh();" checked="checked" py:if="refresh_enabled" />
        <input type="checkbox" id="refresh" onchange="set_refresh();" py:if="not refresh_enabled" />
        <label for="refresh">${l_('Refresh every %d seconds') % refresh_delay}</label>
    </div>
    </py:with>

    <py:with vars="lines = int(tg.session.get('items_per_page', tg.config['vigiboard_items_per_page']))">
        Alerts per page
        <select id="lines_per_page" class="header_select"
            onchange="set_items_per_page($('lines_per_page').get('value'));">
            <py:for each="possible_lines in sorted(set([10, 15, 25, 50, 100, lines]))" py:choose="int(lines == possible_lines)">
            <option py:when="1" value="${possible_lines}" selected="selected">${possible_lines}</option>
            <option py:otherwise="" value="${possible_lines}">${possible_lines}</option>
            </py:for>
        </select>
    </py:with>

    <div class="header_item">
        Theme
        <select id="theme" class="header_select"
            onchange="change_theme($('theme').get('value'), $('theme').getSelected().get('text'));">
            <py:for each="(theme_name, theme_id, theme_files) in themes"
                py:choose="int(theme_id == active_theme)">
            <option py:when="1" value="${theme_id}" selected="selected">${theme_name}</option>
            <option py:otherwise="" value="${theme_id}">${theme_name}</option>
            </py:for>
        </select>
    </div>

    <div class="header_item" id="search_mode_tip">
        <span py:if="filter(None, search.values())">
            <a href="${tg.url('/')}">${l_('You are in Search mode, click here to return to the initial mode.')}</a>
        </span>
    </div>

    <h1><a href="${tg.url('/')}">VigiBoard</a></h1>
</div>

<script type="text/javascript" src="${tg.url('/js/main.js')}"></script>
</py:def>
</html>
