<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    py:strip="">

<xi:include href="themes.html"/>
<xi:include href="toolbar.html"/>
<?python from genshi import XML ?>

<py:match path="head" once="true">
<head py:attrs="select('@*|py:with')">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title py:replace="''">Your title goes here</title>
    <meta py:replace="select('*')"/>
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/jxlib/jxtheme.uncompressed.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/Autocompleter/Autocompleter.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/common_events.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/common_history.css')}" />

    <py:for each="(theme_name, theme_id, theme_files) in themes" py:choose="int(theme_id == active_theme)">
    <link py:when="1" py:for="theme_file in theme_files" type="text/css"
        rel="stylesheet" href="${tg.url(theme_file)}" title="${theme_name}" />
    <link py:otherwise="" py:for="theme_file in theme_files" type="text/css"
        rel="alternate stylesheet" href="${tg.url(theme_file)}" title="${theme_name}" />
    </py:for>

    <link py:replace="select('link|head/script|style')" />

    <script type="text/javascript" src="${tg.url('/js/mootools.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/mootools-more.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/jxlib.js')}"></script>
<!--!    <script type="text/javascript">Jx.baseURL = 'js';</script>-->

    <script type="text/javascript" src="${tg.url('/js/Autocompleter/Autocompleter.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/Autocompleter/Autocompleter.Request.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/Autocompleter/Observer.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/Autocompleter/vigilo.js')}"></script>
</head>
</py:match>
<py:match path="body" once="true">
<body py:with="body_attr = dict(select('@*|py:with'))"
    py:attrs="body_attr.update(style='font-size:' + tg.session.get('fontsize', tg.config['vigiboard_font.size']) + ';' + body_attr.get('style', ''))">

${toolbar()}

<py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
    <div py:strip="True" py:if="flash" py:content="XML(flash)" />
</py:with>

<div style="display: none">
    ${tmpl_context.search_form()}
</div>

<script type="text/javascript">
/*<![CDATA[*/
    window.addEvent('load', function (){
        var flash = $('flash');
        if (flash) {
            flash.fade('in').pauseFx(10000).fade('out');
        }
    });

    function add_autocompleter(elem, varname, url) {
        new Autocompleter.Request.VigiloJSON(elem, url, {
            // ATTENTION: domObj n'est pas documenté dans l'API.
            zIndex: window.search_dialog.domObj.getStyle('zIndex').toInt(),
            minLength: 3,
            selectMode: 'type-ahead',
            postVar: varname,
        });
    }
/*]]>*/
</script>

<div class="main_content" py:content="select('*|text()')"></div>

</body>
</py:match>

</html>
