<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:py="http://genshi.edgewall.org/"
        xmlns:xi="http://www.w3.org/2001/XInclude">

    <xi:include href="vigiboard_event_table.html" />
<?python from genshi import HTML, XML ?>

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
    <title>Vigiboard</title>
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/vigiboard_style.css')}" />
    <link rel="stylesheet" type="text/css" href="${tg.url('/css/jxlib/jxtheme.uncompressed.css')}" />
    <link type="text/css" rel="stylesheet" href="${tg.url('/css/Autocompleter/Autocompleter.css')}" />

    <script type="text/javascript" src="${tg.url('/js/mootools.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/mootools-more.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/jxlib.js')}"></script>
<!--!    <script type="text/javascript">Jx.baseURL = 'js';</script>-->

    <script type="text/javascript" src="${tg.url('/js/Autocompleter/Autocompleter.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/Autocompleter/Autocompleter.Request.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/Autocompleter/Observer.js')}"></script>
    <script type="text/javascript" src="${tg.url('/js/Autocompleter/vigilo.js')}"></script>

    <link type="text/css" rel="alternate stylesheet" href="${tg.url('/css/night.css')}" title="Night" />
    <link type="text/css" rel="alternate stylesheet" href="${tg.url('/css/blind.css')}" title="Blind" />

</head>

<body style="font-size:${tg.session.get('fontsize',tg.config['vigiboard_font.size'])}">

<table class="table_top" summary="Toolbar">
    <tr>
        <td>
            <a py:if="tg.config.get('vigiboard_links.logo')" href="${tg.config['vigiboard_links.logo']}"><img alt="" src="${tg.url('/images/vigilo.png')}" style="width:58px;"/></a>
            <a py:if="not tg.config.get('vigiboard_links.logo')" href="${tg.url('/')}"><img alt="" src="${tg.url('/images/vigilo.png')}" style="width:58px;"/></a>
            ${l_('v%(vigilo_version)s' % {'vigilo_version': tg.config['vigilo_version']})}
        </td>

        <td style="margin-left: 30px; float: right">
            <a href="${tg.url('/')}">
                <img src="${tg.url('/images/home.png')}" alt="Home" title="Home" />
            </a>
            <a id="SearchLien" href="javascript:vigiboard_searchdialog()">
                <img src="${tg.url('/images/search.png')}" alt="Filter display" title="Filter display"/>
            </a>
            <a href="${tg.url('/logout_handler')}">
                <img src="${tg.url('/images/logout.png')}" alt="Log out" title="Log out"/>
            </a>
        </td>

        <td style="margin-left: 30px; margin-top: 4px; float: right">
            <a href="javascript:change_fontsize('5px')"><img alt="Default font size" title="Default font size" src="${tg.url('/images/icn_text_sm.png')}" /></a>
            <a href="javascript:change_fontsize('10px')"><img alt="Medium font size" title="Medium font size" src="${tg.url('/images/icn_text_md.png')}" /></a>
            <a href="javascript:change_fontsize('25px')"><img alt="Large font size" title="Large font size" src="${tg.url('/images/icn_text_lg.png')}" /></a>
        </td>

        <td style="margin-left: 30px; float: right">
            Refresh every
            <select id="refresh_time" class="refresh_select" onchange="change_refresh($('refresh_time').val());">
            <py:with vars="refresh_time = tg.session.get('refresh', 0)">
                <py:for each="(delay, label) in refresh_times">
                <option py:if="refresh_time == delay" value="${delay}" selected="selected">${label}</option>
                <option py:if="refresh_time != delay" value="${delay}">${label}</option>
                </py:for>
            </py:with>
            </select>
        </td>

        <td style="margin-top: 8px; float: right">
            <span py:if="search['host'] or search['service'] or search['output'] or search['tt']" style="color: rgb(70, 130, 180)">
                <a href="${tg.url('/')}" style="color:rgb(70, 130, 180); text-decoration: underline;">${l_('You are in Search mode, click here to return to the initial mode.')}</a>
            </span>
        </td>
    </tr>
</table>

<py:with vars="flash=tg.flash_obj.render('flash', use_js=False)">
<div py:strip="True" py:if="flash" py:content="XML(flash)" />
</py:with>

<div style="display: none">
${tmpl_context.search_form()}
</div>

<div class="main_content">
    ${event_table(events,page,nb_pages,rows_info,event_edit_status_options,history,hist_error,search)}
</div>
<script type="text/javascript">
/*<![CDATA[*/
    window.search_dialog = null;

    window.dlg_open_handler = function () { this.isOpen = true; }
    window.dlg_close_handler = function () { this.isOpen = false; }

    window.addEvent('domready', function (){
        var flash = $('flash');
        if (flash) {
            flash.fade('in').pauseFx(5000).fade('out');
        }

        /**
         * HACK: le closed: True est nécessaire pour éviter que
         * JxLib affiche le panel lors de la création du dialogue
         * (affiche des rectangles blancs). Avec cette modification,
         * le dialogue apparaît replié, mais est considéré comme
         * déplié par Jx.Dialog. Les toggleCollapse permettent de
         * marquer le Dialog comme replié dans Jx.Dialog avant de
         * le déplier pour qu'il soit affiché correctement.
         */ 
        window.search_dialog = new Jx.Dialog({
            id: "SearchDialog",
            label: "${l_('Search Event')}",
            modal: false,
            resize: false,
            move: true,
            content: "search_form",
            onOpen: window.dlg_open_handler,
            onClose: window.dlg_close_handler,
            width: 400,
            height: 200,
            closed: true,
        });
        window.search_dialog.toggleCollapse();
        window.search_dialog.toggleCollapse();

        new Autocompleter.Request.VigiloJSON(
            'search_form_host',
            '${tg.url("/autocomplete_host")}',
            {
                // ATTENTION: domObj n'est pas documenté dans l'API.
                zIndex: window.search_dialog.domObj.getStyle('zIndex').toInt(),
                minLength: 3,
                selectMode: 'type-ahead',
            }
        );

        new Autocompleter.Request.VigiloJSON(
            'search_form_service',
            '${tg.url("/autocomplete_service")}',
            {
                // ATTENTION: domObj n'est pas documenté dans l'API.
                zIndex: window.search_dialog.domObj.getStyle('zIndex').toInt(),
                minLength: 3,
                selectMode: 'type-ahead',
            }
        );

        change_refresh_rate(${tg.session.get("refresh", 0)});

        $('from_date_trigger').addEvent('click', function () {
            $$$$(".calendar").setStyles({"zIndex": window.search_dialog.domObj.getStyle('zIndex').toInt()});
        });

        $('to_date_trigger').addEvent('click', function () {
            $$$$(".calendar").setStyles({"zIndex": window.search_dialog.domObj.getStyle('zIndex').toInt()});
        });
    });

    function change_fontsize(size) {
        document.body.style.fontSize = size;
        var req = new Request.JSON({
            link: 'cancel',
            url: '${tg.url("/set_fontsize")}',
            onFailure: function () {
                alert("${l_('Unable to save preferences')}");
            }
        });
        req.post({fontsize: size});
    }

    var refresh_timeout = null;
    function change_refresh_rate(timeout) {
        timeout = parseInt(timeout);
        if (refresh_timeout)
            refresh_timeout = $$clear(refresh_timeout);
        if (timeout)
            refresh_timeout = refresh_page.periodical(timeout * 1000);
    }

    function change_refresh(timeout) {
        var req = new Request.JSON({
            link: 'cancel',
            url: '${tg.url("/set_refresh")}',
            onFailure: function () {
                alert("${l_('Unable to save preferences')}");
            }
        });
        req.post({'refresh': timeout});
        change_refresh_rate(timeout);
    }

    function refresh_page() {
        var dialogs = ['SearchDialog', 'HistoryDialog', 'Edit_EventsDialog'];
        var el = null
        for (dialog in dialogs) {
            el = $(dialogs[dialog]);
            if (el && el.isOpen)
                return;
        }
        window.location.reload(true);
    }

    function vigiboard_searchdialog() {
        $('search_form_host').set('value', "${search['host']}");
        $('search_form_service').set('value', "${search['service']}");
        $('search_form_output').set('value', "${search['output']}");
        $('search_form_trouble_ticket').set('value', "${search['tt']}");

        window.search_dialog.open.bind(window.search_dialog)();
    }

/*]]>*/
</script>
</body>
</html>
